openapi: 3.0.3
info:
  title: Fastly API
  description: 'Via the Fastly API you can perform any of the operations that are possible within the
    management console, including creating services, domains, and backends; and configuring rules or uploading
    your own application code, as well as perform account operations such as user administration and billing
    reports.


    The API is organized into collections of endpoints that allow manipulation of objects related to Fastly
    services and accounts.


    For the most accurate and up-to-date API reference content, visit [developer.fastly.com/reference/api/](https://developer.fastly.com/reference/api/).'
  version: 1.0.0
  contact:
    name: Fastly API Support
    url: https://developer.fastly.com
    email: support@fastly.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.fastly.com
  description: Fastly API production server
security:
- fastly_api_key: []
tags:
- name: Access control lists
  description: Access control lists related operations
- name: Account
  description: Account related operations
- name: Alerts
  description: Alerts related operations
- name: Authentication tokens
  description: Authentication tokens related operations
- name: Dictionaries
  description: Dictionaries related operations
- name: Domain metrics
  description: Domain metrics related operations
- name: Domains on Fastly
  description: Domains on Fastly related operations
- name: Edge data storage
  description: Edge data storage related operations
- name: Fastly DDoS Protection Events
  description: Fastly DDoS Protection Events related operations
- name: Load balancing
  description: Load balancing related operations
- name: Metrics and stats
  description: Metrics and stats related operations
- name: Mutual TLS
  description: Mutual TLS related operations
- name: Observability
  description: Observability related operations
- name: Origin metrics
  description: Origin metrics related operations
- name: Products
  description: Products related operations
- name: Publishing
  description: Publishing related operations
- name: Purging
  description: Purging related operations
- name: Real-time logging
  description: Real-time logging related operations
- name: Security
  description: Security related operations
- name: Services
  description: Services related operations
- name: Subscriber Provided Prefix (SPP)
  description: Subscriber Provided Prefix (SPP) related operations
- name: TLS
  description: TLS related operations
- name: Utilities
  description: Utilities related operations
- name: VCL objects
  description: VCL objects related operations
paths:
  /customer/{customer_id}/billing_address:
    get:
      operationId: getABillingAddress
      summary: Get a billing address
      description: 'Get a customer''s billing address.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: Alphanumeric string identifying the customer account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Billing address information for the customer
                example:
                  type: "billing_address"
                  id: "x4xCwxxJxGCx123Rx5xTx"
                  attributes:
                    address_1: "123 Main Street"
                    address_2: "Suite 100"
                    city: "San Francisco"
                    state: "CA"
                    postal_code: "94105"
                    country: "US"
                    type: "billing"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: addABillingAddressToACustomer
      summary: Add a billing address to a customer
      description: "Creates a new account billing address for customer billing management."
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                description: Response for 201 Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAddressRequest'
    delete:
      operationId: deleteABillingAddress
      summary: Delete a billing address
      description: 'Delete a customer''s billing address.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                description: Response for 204 No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    patch:
      operationId: updateABillingAddress
      summary: Update a billing address
      description: 'Update a customer''s billing address. You may update only part of the customer''s
        billing address.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingAddressRequest'
  /billing/v3/service-usage-metrics:
    get:
      operationId: retrieveServiceUsageMetricsWithNonzeroUnits
      summary: Retrieve service-level usage metrics for services with non-zero usage units
      description: 'Returns product usage, broken down by service.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Billing](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Account
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
          example: "eyJpZCI6IjEyMzQ1Njc4OTAifQ=="
        description: 'Pagination cursor for retrieving the next set of results. Use the cursor value from a previous response to continue pagination.'
      - name: end_month
        in: query
        required: false
        schema:
          type: string
          pattern: '^\d{4}-\d{2}$'
          example: "2024-12"
        description: 'End month for usage data query in YYYY-MM format. Must be in the past or current month.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          example: 50
        description: 'Maximum number of usage records to return per page. Used for pagination to control response size.'
      - name: product_id
        in: query
        required: false
        schema:
          type: string
          example: "cdn_usage"
        description: 'Filter usage data by specific Fastly product ID. Common values include cdn_usage, compute_requests, bandwidth.'
      - name: service
        in: query
        required: false
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: 'Filter usage data by specific service ID. Service IDs are alphanumeric strings that identify a Fastly service.'
      - name: start_month
        in: query
        required: false
        schema:
          type: string
          pattern: '^\d{4}-\d{2}$'
          example: "2024-01"
        description: 'Start month for usage data query in YYYY-MM format. Cannot be more than 12 months in the past.'
      - name: usage_type_name
        in: query
        required: false
        schema:
          type: string
          enum: ["requests", "bandwidth", "compute_requests", "compute_execution_time", "compute_ram_used", "image_optimizer_requests", "video_on_demand_requests"]
          example: "requests"
        description: 'Filter usage data by specific usage type. Determines what metric to retrieve (requests, bandwidth, compute usage, etc.).'
      responses:
        '200':
          description: A response containing usage elements.
          content:
            application/json:
              schema:
                type: object
                description: Paginated usage data with metrics and cursor for next page
                example:
                  data:
                    - usage_type: "requests"
                      unit: "requests"
                      quantity: 1250000
                      raw_quantity: 1250000
                      product_id: "cdn_usage"
                      last_updated_at: "2024-01-31T23:59:59Z"
                    - usage_type: "bandwidth"
                      unit: "bytes"
                      quantity: 524288000000
                      raw_quantity: 524288000000
                      product_id: "cdn_usage"
                      last_updated_at: "2024-01-31T23:59:59Z"
                  meta:
                    next_cursor: "eyJpZCI6IjEyMzQ1Njc4OTEifQ=="
                    total: 25
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /billing/v3/usage-metrics:
    get:
      operationId: getMonthlyUsageMetrics
      summary: Get monthly usage metrics
      description: 'Returns monthly usage metrics for customer by product.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Billing](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Account
      parameters:
      - name: end_month
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: end_month'
      - name: start_month
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: start_month'
      responses:
        '200':
          description: A response containing usage metric elements.
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 A response containing usage metric elements.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /customer/{customer_id}/contacts:
    get:
      operationId: listContacts
      summary: List contacts
      description: 'List all contacts from a specified customer ID.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: addANewCustomerContact
      summary: Add a new customer contact
      description: 'Create a contact.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
  /customer/{customer_id}/contacts/{contact_id}:
    delete:
      operationId: deleteAContact
      summary: Delete a contact
      description: "Removes account contact for account management."
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
        description: The contact_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /customer/{customer_id}/users:
    get:
      operationId: listUsers
      summary: List users
      description: 'List all users from a specified customer id.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /current_customer:
    get:
      operationId: getTheLoggedInCustomer
      summary: Get the logged in customer
      description: "Retrieves account customer for account management."
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /customer/{customer_id}:
    get:
      operationId: getACustomer
      summary: Get a customer
      description: 'Get a specific customer.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    put:
      operationId: updateACustomer
      summary: Update a customer
      description: "Updates account customer for account management."
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
    delete:
      operationId: deleteACustomer
      summary: Delete a customer
      description: "Removes account customer for account management."
      tags:
      - Account
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /events:
    get:
      operationId: listCustomerEvents
      summary: List events
      description: 'List all events for a particular customer. Events can be filtered by user, customer
        and event type. Events can be sorted by date.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: filter[created_at][gt]
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter events created after this date (ISO 8601 format)'
      - name: filter[created_at][gte]
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter events created on or after this date (ISO 8601 format)'
      - name: filter[created_at][lt]
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter events created before this date (ISO 8601 format)'
      - name: filter[created_at][lte]
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter events created on or before this date (ISO 8601 format)'
      - name: filter[created_at]
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter events created at this exact date and time (ISO 8601 format)'
      - name: filter[customer_id]
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: filter[customer_id]'
      - name: filter[event_type]
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: filter[event_type]'
      - name: filter[service_id]
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: filter[service_id]'
      - name: filter[token_id]
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: filter[token_id]'
      - name: filter[user_id]
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: filter[user_id]'
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page[number]'
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page[size]'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          default: "created"
        description: 'Field on which to sort. Defaults to "created" if not specified.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /events/{event_id}:
    get:
      operationId: getAnEvent
      summary: Get an event
      description: 'Get a specific event.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        description: The event_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /invitations:
    get:
      operationId: listInvitations
      summary: List invitations
      description: 'List all invitations.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page[number]'
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page[size]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: createAnInvitation
      summary: Create an invitation
      description: "Creates a new account invitations for account management."
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create an invitation
  /invitations/{invitation_id}:
    delete:
      operationId: deleteAnInvitation
      summary: Delete an invitation
      description: "Removes account invitations for account management."
      tags:
      - Account
      parameters:
      - name: invitation_id
        in: path
        required: true
        schema:
          type: string
        description: The invitation_id identifier
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                description: Response for 204 No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /billing/v3/invoices:
    get:
      operationId: listOfInvoices
      summary: List of invoices
      description: 'Returns the list of invoices, sorted by billing start date (newest to oldest).

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Billing](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Account
      parameters:
      - name: billing_end_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: 'End date for billing period in ISO 8601 format (YYYY-MM-DD)'
      - name: billing_start_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: 'Start date for billing period in ISO 8601 format (YYYY-MM-DD)'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: cursor'
      - name: limit
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /billing/v3/invoices/{invoice_id}:
    get:
      operationId: getInvoiceById
      summary: Get invoice by ID
      description: 'Returns invoice associated with the invoice id.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Billing](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Account
      parameters:
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
        description: The invoice_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /billing/v3/invoices/month-to-date:
    get:
      operationId: getMonthtodateInvoice
      summary: Get month-to-date invoice
      description: 'Returns month-to-date invoice for the current month.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Billing](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /service-authorizations/{service_authorization_id}:
    get:
      operationId: showServiceAuthorization
      summary: Show service authorization
      description: "Returns details for account service authorization for access control and permissions."
      tags:
      - Account
      parameters:
      - name: service_authorization_id
        in: path
        required: true
        schema:
          type: string
        description: The service_authorization_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    delete:
      operationId: deleteServiceAuthorization
      summary: Delete service authorization
      description: "Removes account service authorization for access control and permissions."
      tags:
      - Account
      parameters:
      - name: service_authorization_id
        in: path
        required: true
        schema:
          type: string
        description: The service_authorization_id identifier
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                description: Response for 204 No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    patch:
      operationId: updateServiceAuthorization
      summary: Update service authorization
      description: "Updates account service authorization for access control and permissions."
      tags:
      - Account
      parameters:
      - name: service_authorization_id
        in: path
        required: true
        schema:
          type: string
        description: The service_authorization_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update service authorization
  /service-authorizations:
    get:
      operationId: listServiceAuthorizations
      summary: List service authorizations
      description: "Returns a list of account service authorization for access control and permissions."
      tags:
      - Account
      parameters:
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page[number]'
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page[size]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: createServiceAuthorization
      summary: Create service authorization
      description: "Creates a new account service authorization for access control and permissions."
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create service authorization
    delete:
      operationId: deleteServiceAuthorizations
      summary: Delete service authorizations
      description: "Removes account service authorization for access control and permissions."
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    patch:
      operationId: updateServiceAuthorizations
      summary: Update service authorizations
      description: "Updates account service authorization for access control and permissions."
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update service authorizations
  /stars/{star_id}:
    get:
      operationId: getAStar
      summary: Get a star
      description: 'Show star.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: star_id
        in: path
        required: true
        schema:
          type: string
        description: The star_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    delete:
      operationId: deleteAStar
      summary: Delete a star
      description: 'Delete star.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: star_id
        in: path
        required: true
        schema:
          type: string
        description: The star_id identifier
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                description: Response for 204 No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /stars:
    get:
      operationId: listStars
      summary: List stars
      description: "Returns a list of account star in the Fastly service configuration."
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: createAStar
      summary: Create a star
      description: 'Create star.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create a star
  /current_user:
    get:
      operationId: getTheCurrentUser
      summary: Get the current user
      description: 'Get the logged in user.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /user/{user_id}:
    get:
      operationId: getAUser
      summary: Get a user
      description: 'Get a specific user.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    put:
      operationId: updateAUser
      summary: Update a user
      description: 'Update a user. Only users with the role of superuser can make changes to other users
        on the account. Non-superusers may use this endpoint to make changes to their own account. Two-factor
        attributes are not editable via this endpoint.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Account
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update a user
    delete:
      operationId: deleteAUser
      summary: Delete a user
      description: "Removes account user for account management."
      tags:
      - Account
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /user:
    post:
      operationId: createAUser
      summary: Create a user
      description: "Creates a new account user for account management."
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create a user
  /current_user/password:
    post:
      operationId: updateTheUsersPassword
      summary: Update the user's password
      description: 'Update the user''s password to a new one.

        > **Authorization**: Username and password.

        '
      tags:
      - Account
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update the user's password
  /user/{user_login}/password/request_reset:
    post:
      operationId: requestAPasswordReset
      summary: Request a password reset
      description: Requests a password reset for the specified user.
      tags:
      - Account
      parameters:
      - name: user_login
        in: path
        required: true
        schema:
          type: string
        description: The user_login identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Request a password reset
  /service/{service_id}/acl/{acl_id}/entries:
    get:
      operationId: listAclEntries
      summary: List ACL entries
      description: 'List ACL entries for a specified ACL.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum: ["ascend", "descend"]
          default: "ascend"
        description: 'Direction in which to sort results. Accepts "ascend" for ascending order or "descend" for descending order.'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page'
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: per_page'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          default: "created"
        description: 'Field on which to sort. Defaults to "created" if not specified.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    patch:
      operationId: updateMultipleAclEntries
      summary: Update multiple ACL entries
      description: 'Update multiple ACL entries on the same ACL. For faster updates to your service, group
        your changes into large batches. The maximum batch size is 1000 entries. Contact support to discuss
        raising this limit.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update multiple ACL entries
  /service/{service_id}/acl/{acl_id}/entry/{acl_entry_id}:
    get:
      operationId: describeAnAclEntry
      summary: Describe an ACL entry
      description: 'Retrieve a single ACL entry.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      - name: acl_entry_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_entry_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    delete:
      operationId: deleteAnAclEntry
      summary: Delete an ACL entry
      description: 'Delete an ACL entry from a specified ACL.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      - name: acl_entry_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_entry_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    patch:
      operationId: updateAnAclEntry
      summary: Update an ACL entry
      description: 'Update an ACL entry for a specified ACL.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      - name: acl_entry_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_entry_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update an ACL entry
  /service/{service_id}/acl/{acl_id}/entry:
    post:
      operationId: createAnAclEntry
      summary: Create an ACL entry
      description: 'Add an ACL entry to an ACL.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create an ACL entry
  /service/{service_id}/version/{version_id}/acl:
    get:
      operationId: listServiceAcls
      summary: List ACLs
      description: "Returns a list of acls acl for access control list management."
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: version_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          example: 1
        description: The version_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: createANewServiceAcl
      summary: Create a new ACL
      description: 'Create a new ACL attached to the specified service version. A new, empty ACL must
        be attached to a draft version of a service. The version associated with the ACL must be activated
        to be used.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: version_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          example: 1
        description: The version_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create a new ACL
  /service/{service_id}/version/{version_id}/acl/{acl_name}:
    get:
      operationId: describeAServiceAcl
      summary: Describe an ACL
      description: 'Retrieve a single ACL by name for the version and service.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: version_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          example: 1
        description: The version_id identifier
      - name: acl_name
        in: path
        required: true
        schema:
          type: string
        description: The acl_name identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    put:
      operationId: updateAServiceAcl
      summary: Update an ACL
      description: 'Update an ACL for a particular service and version.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: version_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          example: 1
        description: The version_id identifier
      - name: acl_name
        in: path
        required: true
        schema:
          type: string
        description: The acl_name identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update an ACL
    delete:
      operationId: deleteAServiceAcl
      summary: Delete an ACL
      description: 'Delete an ACL from the specified service version. To remove an ACL from use, the ACL
        must be deleted from a draft version and the version without the ACL must be activated.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          example: "SU1Z0isxPaozGVKXdv0eY"
        description: The service_id identifier
      - name: version_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          example: 1
        description: The version_id identifier
      - name: acl_name
        in: path
        required: true
        schema:
          type: string
        description: The acl_name identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /resources/acls:
    get:
      operationId: listResourceAcls
      summary: List ACLs
      description: 'List all ACLs.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: createANewResourceAcl
      summary: Create a new ACL
      description: "Creates a new acls acls for access control list management."
      tags:
      - Access control lists
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create a new ACL
  /resources/acls/{acl_id}:
    get:
      operationId: describeAResourceAcl
      summary: Describe an ACL
      description: "Describe an ACL. This operation manages resources related to acls acls."
      tags:
      - Access control lists
      parameters:
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    delete:
      operationId: deleteAResourceAcl
      summary: Delete an ACL
      description: "Removes acls acls for access control list management."
      tags:
      - Access control lists
      parameters:
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /resources/acls/{acl_id}/entry/{acl_ip}:
    get:
      operationId: lookupAnAcl
      summary: Lookup an ACL
      description: 'Find a matching ACL entry for an IP address.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      - name: acl_ip
        in: path
        required: true
        schema:
          type: string
        description: The acl_ip identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /resources/acls/{acl_id}/entries:
    get:
      operationId: listAnAcl
      summary: List an ACL
      description: "Returns a list of acls acls for access control list management."
      tags:
      - Access control lists
      parameters:
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: cursor'
      - name: limit
        in: query
        required: false
        schema:
          type: string
        description: 'Query parameter: limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    patch:
      operationId: updateAResourceAcl
      summary: Update an ACL
      description: 'Update an ACL entry with a new operation or action, this allows you to modify an existing
        entry or delete it.

        > **Authorization**: [API token](/reference/api/auth-tokens) with at least [Engineer](https://docs.fastly.com/en/guides/configuring-user-roles-and-permissions")
        permissions.

        '
      tags:
      - Access control lists
      parameters:
      - name: acl_id
        in: path
        required: true
        schema:
          type: string
        description: The acl_id identifier
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                description: Response for 202 ACCEPTED
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Update an ACL
  /automation-tokens:
    get:
      operationId: listCustomerAutomationTokens
      summary: List Customer Automation Tokens
      description: 'Lists all automation tokens for a customer.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page'
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: per_page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: createAutomationToken
      summary: Create Automation Token
      description: 'Creates a new automation token.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                description: Response for 201 Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create Automation Token
  /automation-tokens/{id}:
    get:
      operationId: retrieveAnAutomationTokenById
      summary: Retrieve an Automation Token by ID
      description: 'Retrieves an automation token by ID.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    delete:
      operationId: revokeAnAutomationTokenById
      summary: Revoke an Automation Token by ID
      description: 'Revoke an automation token by ID.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /automation-tokens/{id}/services:
    get:
      operationId: listAutomationTokenServices
      summary: List Automation Token Services
      description: 'List of services associated with the automation token.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The id identifier
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: page'
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 'Query parameter: per_page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /tokens:
    get:
      operationId: listTokensForTheAuthenticatedUser
      summary: List tokens for the authenticated user
      description: 'List all tokens belonging to the authenticated user.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
    post:
      operationId: createAToken
      summary: Create a token
      description: 'Create an API token. If two-factor authentication is enabled for your account, review
        the instructions for including a one-time password in the request.

        > **Authorization**: Username and password, Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for Create a token
    delete:
      operationId: revokeMultipleTokens
      summary: Revoke multiple tokens
      description: 'Revoke Tokens in bulk format. Users may only revoke their own tokens. Superusers may
        revoke tokens of others.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters: []
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                description: Response for 204 No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - fastly_api_key: []
  /customer/{customer_id}/tokens:
    get:
      operationId: listTokensForACustomer
      summary: List tokens for a customer
      description: 'List all tokens belonging to a specific customer.

        > **Authorization**: Requires [API token](/reference/api/auth-tokens).

        '
      tags:
      - Authentication tokens
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
          example: "x4xCwxxJxGCx123Rx5xTx"
        description: The customer_id identifier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Response for 200 OK
[...]
