openapi: 3.0.3
info:
  title: Fastly API
  version: 1.0.0
  description: Via the Fastly API you can perform any of the operations that are possible within the management console, including creating services, domains, and backends, configuring rules or uploading
    your own application code, as well as account operations such as user administration and billing reports. The API is organized into collections of endpoints that allow manipulation of objects related
    to Fastly services and accounts. For the most accurate and up-to-date API reference content, visit our [Developer Hub](https://www.fastly.com/documentation/reference/api/)
  contact:
    name: Fastly Support
    email: oss@fastly.com
    url: https://www.fastly.com/documentation/reference/api/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.fastly.com
  description: Fastly API server
security:
- apiKey: []
tags:
- name: acl
  description: Access Control List management
- name: acl_entry
  description: ACL entry management
- name: acls_in_compute
  description: Operations related to acls in compute
- name: apex_redirect
  description: Operations related to apex redirect
- name: automation_tokens
  description: Automation token management
- name: backend
  description: Backend server configuration
- name: billing_address
  description: Billing address management
- name: billing_invoices
  description: Invoice and billing history
- name: billing_usage_metrics
  description: Operations related to billing usage metrics
- name: cache_settings
  description: Cache configuration and TTL settings
- name: condition
  description: Conditional logic for configurations
- name: config_store
  description: Configuration store management
- name: config_store_item
  description: Operations related to config store item
- name: contact
  description: Operations related to contact
- name: content
  description: Operations related to content
- name: customer
  description: Customer account management
- name: customer_addresses
  description: Operations related to customer addresses
- name: ddos_protection
  description: Operations related to ddos protection
- name: dictionary
  description: Edge dictionary management
- name: dictionary_info
  description: Operations related to dictionary info
- name: dictionary_item
  description: Dictionary entry management
- name: diff
  description: Operations related to diff
- name: director
  description: Load balancing director configuration
- name: director_backend
  description: Director backend management
- name: domain
  description: Domain configuration for services
- name: domain_inspector_historical
  description: Operations related to domain inspector historical
- name: domain_inspector_realtime
  description: Operations related to domain inspector realtime
- name: domain_ownerships
  description: Operations related to domain ownerships
- name: events
  description: Operations related to events
- name: gzip
  description: Gzip compression settings
- name: header
  description: HTTP header manipulation
- name: healthcheck
  description: Backend health check configuration
- name: historical
  description: Historical data access
- name: http3
  description: Operations related to http3
- name: iam_permissions
  description: IAM permission management
- name: iam_roles
  description: IAM role management
- name: iam_service_groups
  description: IAM service group management
- name: iam_user_groups
  description: IAM user group management
- name: image_optimizer_default_settings
  description: Operations related to image optimizer default settings
- name: insights
  description: Operations related to insights
- name: invitations
  description: User invitation management
- name: kv_store
  description: Operations related to kv store
- name: kv_store_item
  description: Operations related to kv store item
- name: logging_azureblob
  description: Azure Blob Storage logging
- name: logging_bigquery
  description: Google BigQuery logging
- name: logging_cloudfiles
  description: Operations related to logging cloudfiles
- name: logging_datadog
  description: Datadog logging integration
- name: logging_digitalocean
  description: Operations related to logging digitalocean
- name: logging_elasticsearch
  description: Operations related to logging elasticsearch
- name: logging_ftp
  description: FTP logging endpoint
- name: logging_gcs
  description: Google Cloud Storage logging
- name: logging_grafanacloudlogs
  description: Operations related to logging grafanacloudlogs
- name: logging_heroku
  description: Operations related to logging heroku
- name: logging_honeycomb
  description: Operations related to logging honeycomb
- name: logging_https
  description: HTTPS logging endpoint
- name: logging_kafka
  description: Operations related to logging kafka
- name: logging_kinesis
  description: Operations related to logging kinesis
- name: logging_logentries
  description: Operations related to logging logentries
- name: logging_loggly
  description: Operations related to logging loggly
- name: logging_logshuttle
  description: Operations related to logging logshuttle
- name: logging_newrelic
  description: Operations related to logging newrelic
- name: logging_newrelicotlp
  description: Operations related to logging newrelicotlp
- name: logging_openstack
  description: Operations related to logging openstack
- name: logging_papertrail
  description: Operations related to logging papertrail
- name: logging_pubsub
  description: Operations related to logging pubsub
- name: logging_s3
  description: Amazon S3 logging endpoint
- name: logging_scalyr
  description: Operations related to logging scalyr
- name: logging_sftp
  description: SFTP logging endpoint
- name: logging_splunk
  description: Splunk logging integration
- name: logging_sumologic
  description: Operations related to logging sumologic
- name: logging_syslog
  description: Syslog logging endpoint
- name: mutual_authentication
  description: Operations related to mutual authentication
- name: object_storage_access_keys
  description: Operations related to object storage access keys
- name: observability_custom_dashboards
  description: Operations related to observability custom dashboards
- name: origin_inspector_historical
  description: Operations related to origin inspector historical
- name: origin_inspector_realtime
  description: Operations related to origin inspector realtime
- name: package
  description: Operations related to package
- name: pool
  description: Operations related to pool
- name: pop
  description: Operations related to pop
- name: product_ai_accelerator
  description: Operations related to product ai accelerator
- name: product_bot_management
  description: Operations related to product bot management
- name: product_brotli_compression
  description: Operations related to product brotli compression
- name: product_ddos_protection
  description: Operations related to product ddos protection
- name: product_domain_inspector
  description: Operations related to product domain inspector
- name: product_fanout
  description: Operations related to product fanout
- name: product_image_optimizer
  description: Operations related to product image optimizer
- name: product_log_explorer_insights
  description: Operations related to product log explorer insights
- name: product_ngwaf
  description: Operations related to product ngwaf
- name: product_object_storage
  description: Operations related to product object storage
- name: product_origin_inspector
  description: Operations related to product origin inspector
- name: product_websockets
  description: Operations related to product websockets
- name: public_ip_list
  description: Operations related to public ip list
- name: purge
  description: Content purging operations
- name: rate_limiter
  description: Rate limiting configuration
- name: realtime
  description: Real-time analytics data
- name: request_settings
  description: Request handling configuration
- name: resource
  description: Operations related to resource
- name: response_object
  description: Synthetic response generation
- name: secret_store
  description: Secret storage management
- name: secret_store_item
  description: Operations related to secret store item
- name: server
  description: Operations related to server
- name: service
  description: Core service management operations
- name: service_authorizations
  description: Operations related to service authorizations
- name: settings
  description: Operations related to settings
- name: snippet
  description: Operations related to snippet
- name: star
  description: Operations related to star
- name: stats
  description: Historical statistics and analytics
- name: sudo
  description: Operations related to sudo
- name: tls_activations
  description: TLS certificate activations
- name: tls_bulk_certificates
  description: Operations related to tls bulk certificates
- name: tls_certificates
  description: TLS certificate management
- name: tls_configurations
  description: TLS configuration profiles
- name: tls_csrs
  description: Operations related to tls csrs
- name: tls_domains
  description: TLS domain associations
- name: tls_private_keys
  description: TLS private key management
- name: tls_subscriptions
  description: Operations related to tls subscriptions
- name: tokens
  description: API token management
- name: user
  description: User account management
- name: vcl
  description: VCL (Varnish Configuration Language) management
- name: vcl_diff
  description: VCL version comparison
- name: version
  description: Service version management
- name: whole_platform_ddos_historical
  description: Operations related to whole platform ddos historical
paths:
  /apex-redirects/{apex_redirect_id}:
    delete:
      operationId: DeleteApexRedirect
      summary: Delete an apex redirect
      tags:
      - apex_redirect
      parameters:
      - name: apex_redirect_id
        in: path
        required: true
        description: Alphanumeric string identifying the apex redirect
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetApexRedirect
      summary: Get an apex redirect
      tags:
      - apex_redirect
      parameters:
      - name: apex_redirect_id
        in: path
        required: true
        description: Alphanumeric string identifying the apex redirect
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApexRedirect'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: UpdateApexRedirect
      summary: Update an apex redirect
      tags:
      - apex_redirect
      parameters:
      - name: apex_redirect_id
        in: path
        required: true
        description: Alphanumeric string identifying the apex redirect
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApexRedirect'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /automation-tokens:
    post:
      operationId: CreateAutomationToken
      summary: Create Automation Token
      tags:
      - automation_tokens
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationTokenCreateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/automationTokenCreateRequest'
        required: true
    get:
      operationId: ListAutomationTokens
      summary: List Customer Automation Tokens
      tags:
      - automation_tokens
      parameters:
      - name: per_page
        in: query
        required: false
        description: The per page
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: page
        in: query
        required: false
        description: The page
        schema:
          type: integer
          format: int32
          minimum: 1
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /automation-tokens/{id}:
    get:
      operationId: GetAutomationTokenID
      summary: Retrieve an Automation Token by ID
      tags:
      - automation_tokens
      parameters:
      - name: id
        in: path
        required: true
        description: Alphanumeric string identifying the id
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationTokenResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: RevokeAutomationTokenID
      summary: Revoke an Automation Token by ID
      tags:
      - automation_tokens
      parameters:
      - name: id
        in: path
        required: true
        description: Alphanumeric string identifying the id
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationTokenErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /automation-tokens/{id}/services:
    get:
      operationId: GetAutomationTokensIDServices
      summary: List Automation Token Services
      tags:
      - automation_tokens
      parameters:
      - name: id
        in: path
        required: true
        description: Alphanumeric string identifying the id
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        description: The per page
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: page
        in: query
        required: false
        description: The page
        schema:
          type: integer
          format: int32
          minimum: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2001'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /billing/v3/customer-addresses:
    post:
      operationId: CreateCustomerAddress
      summary: Creates an address associated with a customer account.
      tags:
      - customer_addresses
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse201'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerAddress'
        required: true
    get:
      operationId: ListCustomerAddresses
      summary: Return the list of addresses associated with a customer account.
      tags:
      - customer_addresses
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerAddressesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /billing/v3/customer-addresses/{type}:
    put:
      operationId: UpdateCustomerAddress
      summary: Updates an address associated with a customer account.
      tags:
      - customer_addresses
      parameters:
      - name: type
        in: path
        required: true
        description: Alphanumeric string identifying the type
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerAddress'
        required: true
  /billing/v3/invoices:
    get:
      operationId: ListInvoices
      summary: List of invoices.
      tags:
      - billing_invoices
      parameters:
      - name: billing_start_date
        in: query
        required: false
        description: The billing start date
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The limit
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: cursor
        in: query
        required: false
        description: The cursor
        schema:
          type: string
      - name: billing_end_date
        in: query
        required: false
        description: The billing end date
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEomInvoicesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /billing/v3/invoices/month-to-date:
    get:
      operationId: GetMonthToDateInvoice
      summary: Get month-to-date invoice.
      tags:
      - billing_invoices
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MtdInvoiceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /billing/v3/invoices/{invoice_id}:
    get:
      operationId: GetInvoiceByInvoiceID
      summary: Get invoice by ID.
      tags:
      - billing_invoices
      parameters:
      - name: invoice_id
        in: path
        required: true
        description: Alphanumeric string identifying the invoice
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EomInvoiceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /billing/v3/service-usage-metrics:
    get:
      operationId: GetServiceLevelUsage
      summary: Retrieve service-level usage metrics for services with non-zero usage units.
      tags:
      - billing_usage_metrics
      parameters:
      - name: limit
        in: query
        required: false
        description: The limit
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: cursor
        in: query
        required: false
        description: The cursor
        schema:
          type: string
      - name: service
        in: query
        required: false
        description: The service
        schema:
          type: string
      - name: usage_type_name
        in: query
        required: false
        description: The usage type name
        schema:
          type: string
      - name: end_month
        in: query
        required: false
        description: The end month
        schema:
          type: string
      - name: product_id
        in: query
        required: false
        description: The product id
        schema:
          type: string
      - name: start_month
        in: query
        required: false
        description: The start month
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Serviceusagemetrics'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /billing/v3/usage-metrics:
    get:
      operationId: GetUsageMetrics
      summary: Get monthly usage metrics
      tags:
      - billing_usage_metrics
      parameters:
      - name: end_month
        in: query
        required: false
        description: The end month
        schema:
          type: string
      - name: start_month
        in: query
        required: false
        description: The start month
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usagemetric'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /content/edge_check:
    get:
      operationId: ContentCheck
      summary: Check status of content in each POP's cache
      tags:
      - content
      parameters:
      - name: url
        in: query
        required: false
        description: The url
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /current_customer:
    get:
      operationId: GetLoggedInCustomer
      summary: Get the logged in customer
      tags:
      - customer
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /current_user:
    get:
      operationId: GetCurrentUser
      summary: Get the current user
      tags:
      - user
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /current_user/password:
    post:
      operationId: UpdateUserPassword
      summary: Update the user's password
      tags:
      - user
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customer_id}:
    delete:
      operationId: DeleteCustomer
      summary: Delete a customer
      tags:
      - customer
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetCustomer
      summary: Get a customer
      tags:
      - customer
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: UpdateCustomer
      summary: Update a customer
      tags:
      - customer
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customer_id}/billing_address:
    post:
      operationId: AddBillingAddr
      summary: Add a billing address to a customer
      tags:
      - billing_address
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAddressResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/billingAddressRequest'
        required: true
    delete:
      operationId: DeleteBillingAddr
      summary: Delete a billing address
      tags:
      - billing_address
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetBillingAddr
      summary: Get a billing address
      tags:
      - billing_address
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAddressResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: UpdateBillingAddr
      summary: Update a billing address
      tags:
      - billing_address
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAddressResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/updateBillingAddressRequest'
        required: true
  /customer/{customer_id}/contacts:
    post:
      operationId: CreateContacts
      summary: Add a new customer contact
      tags:
      - contact
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: ListContacts
      summary: List contacts
      tags:
      - contact
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customer_id}/contacts/{contact_id}:
    delete:
      operationId: DeleteContact
      summary: Delete a contact
      tags:
      - contact
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      - name: contact_id
        in: path
        required: true
        description: Alphanumeric string identifying the contact
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customer_id}/tokens:
    get:
      operationId: ListTokensCustomer
      summary: List tokens for a customer
      tags:
      - tokens
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customer_id}/users:
    get:
      operationId: ListUsers
      summary: List users
      tags:
      - customer
      parameters:
      - name: customer_id
        in: path
        required: true
        description: Alphanumeric string identifying the customer
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /datacenters:
    get:
      operationId: ListPops
      summary: List Fastly POPs
      tags:
      - pop
      parameters: []
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ddos-protection/v1/events:
    get:
      operationId: DdosProtectionEventList
      summary: Get events
      tags:
      - ddos_protection
      parameters:
      - name: from
        in: query
        required: false
        description: Timestamp (Unix seconds)
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        required: false
        description: The limit
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: cursor
        in: query
        required: false
        description: The cursor
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: The name
        schema:
          type: string
      - name: to
        in: query
        required: false
        description: Timestamp (Unix seconds)
        schema:
          type: integer
          format: int64
      - name: service_id
        in: query
        required: false
        description: The service id
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2002'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ddos-protection/v1/events/{event_id}:
    get:
      operationId: DdosProtectionEventGet
      summary: Get event by ID
      tags:
      - ddos_protection
      parameters:
      - name: event_id
        in: path
        required: true
        description: Alphanumeric string identifying the event
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ddos-protection/v1/events/{event_id}/rules:
    get:
      operationId: DdosProtectionEventRuleList
      summary: Get all rules for an event
      tags:
      - ddos_protection
      parameters:
      - name: event_id
        in: path
        required: true
        description: Alphanumeric string identifying the event
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The limit
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: cursor
        in: query
        required: false
        description: The cursor
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2003'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ddos-protection/v1/events/{event_id}/rules/{rule_id}/traffic-stats:
    get:
      operationId: DdosProtectionTrafficStatsRuleGet
      summary: Get traffic stats for a rule
      tags:
      - ddos_protection
      parameters:
      - name: event_id
        in: path
        required: true
        description: Alphanumeric string identifying the event
        schema:
          type: string
      - name: rule_id
        in: path
        required: true
        description: Alphanumeric string identifying the rule
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionTrafficStats'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ddos-protection/v1/rules/{rule_id}:
    get:
      operationId: DdosProtectionRuleGet
      summary: Get a rule by ID
      tags:
      - ddos_protection
      parameters:
      - name: rule_id
        in: path
        required: true
        description: Alphanumeric string identifying the rule
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionRule'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /domain-ownerships:
    get:
      operationId: ListDomainOwnerships
      summary: List domain-ownerships
      tags:
      - domain_ownerships
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2004'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/ai_accelerator:
    delete:
      operationId: DisableProductAiAccelerator
      summary: Disable product
      tags:
      - product_ai_accelerator
      parameters: []
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableAiAccelerator
      summary: Enable product
      tags:
      - product_ai_accelerator
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAcceleratorResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetAiAccelerator
      summary: Get product enablement status
      tags:
      - product_ai_accelerator
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAcceleratorResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/bot_management/services:
    get:
      operationId: GetServicesProductBotManagement
      summary: Get services with product enabled
      tags:
      - product_bot_management
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotManagementResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/bot_management/services/{service_id}:
    delete:
      operationId: DisableProductBotManagement
      summary: Disable product
      tags:
      - product_bot_management
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductBotManagement
      summary: Enable product
      tags:
      - product_bot_management
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotManagementResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductBotManagement
      summary: Get product enablement status
      tags:
      - product_bot_management
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotManagementResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/brotli_compression/services:
    get:
      operationId: GetServicesProductBrotliCompression
      summary: Get services with product enabled
      tags:
      - product_brotli_compression
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrotliCompressionResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/brotli_compression/services/{service_id}:
    delete:
      operationId: DisableProductBrotliCompression
      summary: Disable product
      tags:
      - product_brotli_compression
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductBrotliCompression
      summary: Enable product
      tags:
      - product_brotli_compression
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrotliCompressionResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductBrotliCompression
      summary: Get product enablement status
      tags:
      - product_brotli_compression
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrotliCompressionResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/ddos_protection/services:
    get:
      operationId: GetServicesProductDdosProtection
      summary: Get services with product enabled
      tags:
      - product_ddos_protection
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/ddos_protection/services/{service_id}:
    delete:
      operationId: DisableProductDdosProtection
      summary: Disable product
      tags:
      - product_ddos_protection
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductDdosProtection
      summary: Enable product
      tags:
      - product_ddos_protection
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionResponseEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductDdosProtection
      summary: Get product enablement status
      tags:
      - product_ddos_protection
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionResponseEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/ddos_protection/services/{service_id}/configuration:
    get:
      operationId: GetProductDdosProtectionConfiguration
      summary: Get configuration
      tags:
      - product_ddos_protection
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionResponseConfigure'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: SetProductDdosProtectionConfiguration
      summary: Update configuration
      tags:
      - product_ddos_protection
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosProtectionResponseConfigure'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ddosProtectionRequestUpdateConfiguration'
        required: true
  /enabled-products/v1/domain_inspector/services:
    get:
      operationId: GetServicesProductDomainInspector
      summary: Get services with product enabled
      tags:
      - product_domain_inspector
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInspectorResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/domain_inspector/services/{service_id}:
    delete:
      operationId: DisableProductDomainInspector
      summary: Disable product
      tags:
      - product_domain_inspector
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductDomainInspector
      summary: Enable product
      tags:
      - product_domain_inspector
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInspectorResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductDomainInspector
      summary: Get product enablement status
      tags:
      - product_domain_inspector
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInspectorResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/fanout/services:
    get:
      operationId: GetServicesProductFanout
      summary: Get services with product enabled
      tags:
      - product_fanout
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FanoutResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/fanout/services/{service_id}:
    delete:
      operationId: DisableProductFanout
      summary: Disable product
      tags:
      - product_fanout
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductFanout
      summary: Enable product
      tags:
      - product_fanout
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FanoutResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductFanout
      summary: Get product enablement status
      tags:
      - product_fanout
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FanoutResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/image_optimizer/services:
    get:
      operationId: GetServicesProductImageOptimizer
      summary: Get services with product enabled
      tags:
      - product_image_optimizer
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageOptimizerResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/image_optimizer/services/{service_id}:
    delete:
      operationId: DisableProductImageOptimizer
      summary: Disable product
      tags:
      - product_image_optimizer
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductImageOptimizer
      summary: Enable product
      tags:
      - product_image_optimizer
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageOptimizerResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductImageOptimizer
      summary: Get product enablement status
      tags:
      - product_image_optimizer
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageOptimizerResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/log_explorer_insights/services:
    get:
      operationId: GetServicesProductLogExplorerInsights
      summary: Get services with product enabled
      tags:
      - product_log_explorer_insights
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogExplorerInsightsResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/log_explorer_insights/services/{service_id}:
    delete:
      operationId: DisableProductLogExplorerInsights
      summary: Disable product
      tags:
      - product_log_explorer_insights
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductLogExplorerInsights
      summary: Enable product
      tags:
      - product_log_explorer_insights
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogExplorerInsightsResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductLogExplorerInsights
      summary: Get product enablement status
      tags:
      - product_log_explorer_insights
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogExplorerInsightsResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/ngwaf/services:
    get:
      operationId: GetServicesProductNgwaf
      summary: Get services with product enabled
      tags:
      - product_ngwaf
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NgwafResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/ngwaf/services/{service_id}:
    delete:
      operationId: DisableProductNgwaf
      summary: Disable product
      tags:
      - product_ngwaf
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductNgwaf
      summary: Enable product
      tags:
      - product_ngwaf
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NgwafResponseEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ngwafRequestEnable'
        required: true
    get:
      operationId: GetProductNgwaf
      summary: Get product enablement status
      tags:
      - product_ngwaf
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NgwafResponseEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/ngwaf/services/{service_id}/configuration:
    get:
      operationId: GetProductNgwafConfiguration
      summary: Get configuration
      tags:
      - product_ngwaf
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NgwafResponseConfigure'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: SetProductNgwafConfiguration
      summary: Update configuration
      tags:
      - product_ngwaf
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NgwafResponseConfigure'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ngwafRequestUpdateConfiguration'
        required: true
  /enabled-products/v1/object_storage:
    delete:
      operationId: DisableProductObjectStorage
      summary: Disable product
      tags:
      - product_object_storage
      parameters: []
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableObjectStorage
      summary: Enable product
      tags:
      - product_object_storage
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStorageResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetObjectStorage
      summary: Get product enablement status
      tags:
      - product_object_storage
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStorageResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/origin_inspector/services:
    get:
      operationId: GetServicesProductOriginInspector
      summary: Get services with product enabled
      tags:
      - product_origin_inspector
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OriginInspectorResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/origin_inspector/services/{service_id}:
    delete:
      operationId: DisableProductOriginInspector
      summary: Disable product
      tags:
      - product_origin_inspector
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductOriginInspector
      summary: Enable product
      tags:
      - product_origin_inspector
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OriginInspectorResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductOriginInspector
      summary: Get product enablement status
      tags:
      - product_origin_inspector
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OriginInspectorResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/websockets/services:
    get:
      operationId: GetServicesProductWebsockets
      summary: Get services with product enabled
      tags:
      - product_websockets
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsocketsResponseBodyGetAllServices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /enabled-products/v1/websockets/services/{service_id}:
    delete:
      operationId: DisableProductWebsockets
      summary: Disable product
      tags:
      - product_websockets
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: EnableProductWebsockets
      summary: Enable product
      tags:
      - product_websockets
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsocketsResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: GetProductWebsockets
      summary: Get product enablement status
      tags:
      - product_websockets
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsocketsResponseBodyEnable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events:
    get:
      operationId: ListEvents
      summary: List events
      tags:
      - events
      parameters:
      - name: filter[created_at]
        in: query
        required: false
        description: The filter[created at]
        schema:
          type: string
      - name: filter[created_at][lte]
        in: query
        required: false
        description: The filter[created at][lte]
        schema:
          type: string
      - name: filter[created_at][gte]
        in: query
        required: false
        description: The filter[created at][gte]
        schema:
          type: string
      - name: filter[created_at][lt]
        in: query
        required: false
        description: The filter[created at][lt]
        schema:
          type: string
      - name: filter[service_id]
        in: query
        required: false
        description: The filter[service id]
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        description: The page[number]
        schema:
          type: string
      - name: filter[event_type]
        in: query
        required: false
        description: The filter[event type]
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: The sort
        schema:
          type: string
          enum:
          - created
          - -created
          - updated
          - -updated
      - name: filter[user_id]
        in: query
        required: false
        description: The filter[user id]
        schema:
          type: string
      - name: filter[created_at][gt]
        in: query
        required: false
        description: The filter[created at][gt]
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        description: The page[size]
        schema:
          type: string
      - name: filter[token_id]
        in: query
        required: false
        description: The filter[token id]
        schema:
          type: string
      - name: filter[customer_id]
        in: query
        required: false
        description: The filter[customer id]
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/{event_id}:
    get:
      operationId: GetEvent
      summary: Get an event
      tags:
      - events
      parameters:
      - name: event_id
        in: path
        required: true
        description: Alphanumeric string identifying the event
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations:
    post:
      operationId: CreateInvitation
      summary: Create an invitation
      tags:
      - invitations
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/invitation'
        required: true
    get:
      operationId: ListInvitations
      summary: List invitations
      tags:
      - invitations
      parameters:
      - name: page[number]
        in: query
        required: false
        description: The page[number]
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        description: The page[size]
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations/{invitation_id}:
    delete:
      operationId: DeleteInvitation
      summary: Delete an invitation
      tags:
      - invitations
      parameters:
      - name: invitation_id
        in: path
        required: true
        description: Alphanumeric string identifying the invitation
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics/domains/services/{service_id}:
    get:
      operationId: GetDomainInspectorHistorical
      summary: Get historical domain data for a service
      tags:
      - domain_inspector_historical
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      - name: datacenter
        in: query
        required: false
        description: The datacenter
        schema:
          type: string
      - name: domain
        in: query
        required: false
        description: The domain
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The limit
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: cursor
        in: query
        required: false
        description: The cursor
        schema:
          type: string
      - name: start
        in: query
        required: false
        description: The start
        schema:
          type: string
      - name: end
        in: query
        required: false
        description: The end
        schema:
          type: string
      - name: group_by
        in: query
        required: false
        description: The group by
        schema:
          type: string
      - name: metric
        in: query
        required: false
        description: The metric
        schema:
          type: string
      - name: region
        in: query
        required: false
        description: The region
        schema:
          type: string
      - name: downsample
        in: query
        required: false
        description: The downsample
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalDomainsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics/origins/services/{service_id}:
    get:
      operationId: GetOriginInspectorHistorical
      summary: Get historical origin data for a service
      tags:
      - origin_inspector_historical
      parameters:
      - name: service_id
        in: path
        required: true
        description: Alphanumeric string identifying the service
        schema:
          type: string
      - name: datacenter
        in: query
        required: false
        description: The datacenter
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The limit
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: cursor
        in: query
        required: false
        description: The cursor
        schema:
          type: string
      - name: start
        in: query
        required: false
        description: The start
        schema:
          type: string
      - name: end
        in: query
        required: false
        description: The end
        schema:
          type: string
      - name: group_by
        in: query
        required: false
        description: The group by
        schema:
          type: string
      - name: metric
        in: query
        required: false
        description: The metric
        schema:
          type: string
      - name: host
        in: query
        required: false
        description: The host
        schema:
          type: string
      - name: region
        in: query
        required: false
        description: The region
        schema:
          type: string
      - name: downsample
        in: query
        required: false
        description: The downsample
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalOriginsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics/platform/ddos:
    get:
      operationId: GetPlatformDdosHistorical
      summary: Get historical DDoS metrics for the entire Fastly platform
      tags:
      - whole_platform_ddos_historical
      parameters:
      - name: end
        in: query
        required: false
        description: The end
        schema:
          type: string
      - name: downsample
        in: query
        required: false
        description: The downsample
        schema:
          type: string
      - name: start
        in: query
        required: false
        description: The start
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformDdosResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permissions:
    get:
      operationId: ListPermissions
      summary: List permissions
      tags:
      - iam_permissions
      parameters: []
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public-ip-list:
    get:
      operationId: ListFastlyIps
      summary: List Fastly's public IPs
      tags:
      - public_ip_list
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /purge/{cached_url}:
    post:
      operationId: PurgeSingleURL
      summary: Purge a URL
      tags:
      - purge
      parameters:
      - name: cached_url
        in: path
        required: true
        description: Alphanumeric string identifying the cached url
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurgeResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
[...]
