openapi: 3.0.3
info:
  title: Fastly API
  description: |
    The Fastly API allows you to manage Fastly services via a REST-like interface.
    This API provides comprehensive control over Fastly CDN services, including configuration management, 
    content purging, real-time analytics, and advanced edge computing features.
  version: "1.0"
  contact:
    name: Fastly Support
    url: https://www.fastly.com/support
    email: support@fastly.com
  license:
    name: MIT
  termsOfService: https://www.fastly.com/terms

servers:
  - url: https://api.fastly.com
    description: Fastly API production server

externalDocs:
  description: Fastly API Documentation
  url: https://developer.fastly.com/reference/api

security:
  - ApiKeyAuth: []

paths:
  /service:
    get:
      summary: List services
      description: Retrieves a list of all services configured in the user's account. Services are the top-level resource in the Fastly API, representing a logical grouping of domains and configurations for content delivery.
      operationId: listServices
      tags:
        - Service
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Service"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create service
      description: Creates a new service configuration. A service is the top-level resource that represents your web application or site in Fastly. This operation initializes the container for your CDN configurations including domains, backends, and caching rules.
      operationId: createService
      tags:
        - Service
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get service details
      description: Retrieves detailed information about a specific service identified by its unique ID. This returns the service's configuration metadata, active version details, and core properties needed for further configuration operations.
      operationId: getService
      tags:
        - Service
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update service
      description: Updates the configuration of an existing service. This allows modification of service properties such as name and comments. Note that this operation updates service metadata, not the version-specific configurations like domains or backends.
      operationId: updateService
      tags:
        - Service
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete service
      description: Permanently removes a service and all its associated configurations, including all versions, domains, and backend configurations. This action cannot be undone, so use with caution.
      operationId: deleteService
      tags:
        - Service
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/domain:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: List domains
      description: List all domains for a service
      operationId: listDomains
      tags:
        - Domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Domain"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create domain
      description: Create a new domain for a service
      operationId: createDomain
      tags:
        - Domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/domain/{domain_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/domain_id"
    get:
      summary: Get domain details
      description: Get details of a specific domain
      operationId: getDomain
      tags:
        - Domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update domain
      description: Update a specific domain
      operationId: updateDomain
      tags:
        - Domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete domain
      description: Delete a specific domain
      operationId: deleteDomain
      tags:
        - Domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: List versions
      description: List all versions for a service
      operationId: listVersions
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: Get version details
      description: Get details of a specific version
      operationId: getVersion
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/activate:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    put:
      summary: Activate version
      description: Activates a specific service version, making it the production version that serves live traffic. Once activated, the version becomes locked and cannot be modified further without cloning. This is a critical operation that impacts production traffic, so it should be performed after thorough testing.
      operationId: activateVersion
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/clone:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    put:
      summary: Clone version
      description: Clone a specific version
      operationId: cloneVersion
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/backend:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List backends
      description: List all backends for a service version
      operationId: listBackends
      tags:
        - Backend
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Backend"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create backend
      description: Create a new backend for a service version
      operationId: createBackend
      tags:
        - Backend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackendCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backend"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/backend/{backend_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/backend_name"
    get:
      summary: Get backend details
      description: Get details of a specific backend
      operationId: getBackend
      tags:
        - Backend
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backend"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update backend
      description: Update a specific backend
      operationId: updateBackend
      tags:
        - Backend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackendUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backend"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete backend
      description: Delete a specific backend
      operationId: deleteBackend
      tags:
        - Backend
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/purge_all:
    parameters:
      - $ref: "#/components/parameters/service_id"
    post:
      summary: Purge all content
      description: Immediately purges all cached content for a service across the global Fastly network. This operation is resource-intensive and should be used judiciously. It's useful for emergency situations where stale content must be removed immediately, such as after a significant data update or security incident. For more targeted cache invalidation, use surrogate keys or specific URL purges instead.
      operationId: purgeAll
      tags:
        - Purge
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /purge/{url}:
    parameters:
      - name: url
        in: path
        description: URL to purge (without the scheme)
        required: true
        schema:
          type: string
          example: www.example.com/path/to/resource
    post:
      summary: Purge URL
      description: Purges a specific URL from the Fastly cache. This is the most direct way to remove a single resource from the cache. The URL should be provided without the scheme (http:// or https://). This is a targeted operation that only affects the specified URL and is more efficient than purging all content when only specific resources need to be refreshed.
      operationId: purgeUrl
      tags:
        - Purge
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurgeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/purge:
    parameters:
      - $ref: "#/components/parameters/service_id"
    post:
      summary: Purge by key
      description: Purges content from the Fastly cache by cache key or surrogate key. This is a flexible purging mechanism that allows for targeted invalidation of multiple related resources at once using a shared key. This is more efficient than purging individual URLs when groups of content need to be refreshed simultaneously.
      operationId: purgeByKey
      tags:
        - Purge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                surrogate_keys:
                  type: array
                  description: List of surrogate keys to purge
                  items:
                    type: string
                  example: ["key1", "key2", "product_id_123"]
              required:
                - surrogate_keys
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurgeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /purge/soft:
    post:
      summary: Soft purge by URL
      description: Performs a "soft purge" on a specific URL, which expires the content but allows stale content to be served while fresh content is being fetched from the origin. This is useful for high-traffic resources where you want to avoid potential origin overload and maintain some level of performance during purge operations.
      operationId: softPurgeUrl
      tags:
        - Purge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: URL to soft purge
                  example: https://www.example.com/path/to/resource
              required:
                - url
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurgeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}/purge/{purge_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/purge_id"
    get:
      summary: Get purge status
      description: Checks the status of a previously initiated purge request. Purge requests are processed asynchronously across the Fastly network. This endpoint allows for monitoring the progress of a purge as it propagates through the global cache infrastructure.
      operationId: getPurgeStatus
      tags:
        - Purge
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurgeStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/vcl:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List VCL files
      description: List all VCL files for a service version
      operationId: listVcls
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VCL"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create VCL file
      description: Create a new VCL file for a service version
      operationId: createVcl
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VCLCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VCL"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/cache_settings:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List cache settings
      description: List all cache settings for a service version
      operationId: listCacheSettings
      tags:
        - CacheSettings
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CacheSetting"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create cache setting
      description: Create a new cache setting for a service version
      operationId: createCacheSetting
      tags:
        - CacheSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CacheSettingCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheSetting"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/cache_settings/{cache_setting_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/cache_setting_name"
    get:
      summary: Get cache setting
      description: Get a specific cache setting
      operationId: getCacheSetting
      tags:
        - CacheSettings
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheSetting"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update cache setting
      description: Update a specific cache setting
      operationId: updateCacheSetting
      tags:
        - CacheSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CacheSettingUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheSetting"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete cache setting
      description: Delete a specific cache setting
      operationId: deleteCacheSetting
      tags:
        - CacheSettings
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/dictionary:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List dictionaries
      description: List all edge dictionaries for a service version
      operationId: listDictionaries
      tags:
        - Dictionary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dictionary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create dictionary
      description: Create a new edge dictionary for a service version
      operationId: createDictionary
      tags:
        - Dictionary
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DictionaryCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dictionary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/dictionary/{dictionary_id}/items:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/dictionary_id"
    get:
      summary: List dictionary items
      description: List all items in an edge dictionary
      operationId: listDictionaryItems
      tags:
        - DictionaryItem
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DictionaryItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create dictionary item
      description: Create a new dictionary item
      operationId: createDictionaryItem
      tags:
        - DictionaryItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DictionaryItemCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DictionaryItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/acl:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List ACLs
      description: List all ACLs for a service version
      operationId: listAcls
      tags:
        - ACL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ACL"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create ACL
      description: Create a new ACL for a service version
      operationId: createAcl
      tags:
        - ACL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ACLCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ACL"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/acl/{acl_id}/entries:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/acl_id"
    get:
      summary: List ACL entries
      description: List all entries in an ACL
      operationId: listAclEntries
      tags:
        - ACLEntry
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ACLEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create ACL entry
      description: Create a new ACL entry
      operationId: createAclEntry
      tags:
        - ACLEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ACLEntryCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ACLEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/healthcheck:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List health checks
      description: List all health checks for a service version
      operationId: listHealthchecks
      tags:
        - Healthcheck
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Healthcheck"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create health check
      description: Create a new health check for a service version
      operationId: createHealthcheck
      tags:
        - Healthcheck
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthcheckCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Healthcheck"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/logging/s3:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List S3 log endpoints
      description: List all S3 log endpoints for a service version
      operationId: listS3Logs
      tags:
        - Logging
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LoggingS3"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create S3 log endpoint
      description: Create a new S3 log endpoint for a service version
      operationId: createS3Log
      tags:
        - Logging
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoggingS3Create"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggingS3"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/waf:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: Get WAF settings
      description: Retrieves the Web Application Firewall (WAF) configuration for a specific service version. The WAF provides protection against common web vulnerabilities and attacks like SQL injection, cross-site scripting (XSS), and OWASP Top 10 threats. This endpoint returns the complete WAF configuration including rule status counts and associated conditions.
      operationId: getWafSettings
      tags:
        - WAF
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WAF"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create WAF
      description: Creates a new Web Application Firewall (WAF) configuration for a service version. The WAF provides protection against attacks like SQL injection, cross-site scripting, and other OWASP Top 10 threats. This endpoint provisions the initial WAF with default settings, which can then be customized through rule management endpoints. A prefetch condition must be specified to determine which requests are inspected by the WAF.
      operationId: createWaf
      tags:
        - WAF
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WAFCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WAF"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/waf/firewall/{firewall_id}/rule/{rule_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/firewall_id"
      - $ref: "#/components/parameters/rule_id"
    get:
      summary: Get WAF rule
      description: Get a specific WAF rule
      operationId: getWafRule
      tags:
        - WAF
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WAFRule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update WAF rule
      description: Update a specific WAF rule
      operationId: updateWafRule
      tags:
        - WAF
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WAFRuleUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WAFRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/rate-limiting:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List rate limiting configurations
      description: List all rate limiting configurations for a service version
      operationId: listRateLimits
      tags:
        - RateLimiting
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RateLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create rate limiting
      description: Create a new rate limiting configuration for a service version
      operationId: createRateLimit
      tags:
        - RateLimiting
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateLimitCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimit"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/rate-limiting/{rate_limit_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/rate_limit_id"
    get:
      summary: Get rate limit
      description: Get a specific rate limit configuration
      operationId: getRateLimit
      tags:
        - RateLimiting
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update rate limit
      description: Update a specific rate limit configuration
      operationId: updateRateLimit
      tags:
        - RateLimiting
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateLimitUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimit"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete rate limit
      description: Delete a specific rate limit configuration
      operationId: deleteRateLimit
      tags:
        - RateLimiting
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /resources/compute/package:
    get:
      summary: List Compute@Edge packages
      description: List all Compute@Edge packages
      operationId: listComputePackages
      tags:
        - Compute
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ComputePackage"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Upload Compute@Edge package
      description: Upload a new Compute@Edge package
      operationId: uploadComputePackage
      tags:
        - Compute
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                package:
                  type: string
                  format: binary
                  description: The compiled Compute@Edge package file (.wasm)
              required:
                - package
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePackage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}/version/{version_id}/compute:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: Get Compute@Edge configuration
      description: Get Compute@Edge configuration for a service version
      operationId: getComputeConfig
      tags:
        - Compute
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update Compute@Edge configuration
      description: Update Compute@Edge configuration for a service version
      operationId: updateComputeConfig
      tags:
        - Compute
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeConfigUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeConfig"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /stats:
    get:
      summary: Get real-time stats
      description: Retrieves real-time stats for all services. This endpoint provides aggregated statistics about cache performance, bandwidth usage, and request handling across your entire Fastly account. Use this for global monitoring dashboards and cross-service analysis.
      operationId: getStats
      tags:
        - Stats
      parameters:
        - name: from
          in: query
          description: Timestamp from which to begin gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Timestamp to end gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: by
          in: query
          description: Duration of sample windows (day, hour, minute)
          schema:
            type: string
            enum: [day, hour, minute]
            default: day
        - name: region
          in: query
          description: Filter stats by geographic region
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Unprocessable Entity - Invalid parameters

  /service/{service_id}/stats/summary:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get service stats summary
      description: Retrieves a summary of statistics for a specific service. This endpoint returns aggregated data for high-level metrics like hits, misses, and bandwidth usage. It's useful for dashboards that need a quick overview of service performance without the granularity of time-series data.
      operationId: getServiceStatsSummary
      tags:
        - Stats
      parameters:
        - name: from
          in: query
          description: Timestamp from which to begin gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Timestamp to end gathering stats (UTC)
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/stats:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get service stats
      description: Retrieves detailed statistics for a specific service. This endpoint provides comprehensive time-series data on cache performance, origin shields, and content delivery metrics. Use this for detailed analysis of a service's performance over time, troubleshooting, and capacity planning.
      operationId: getServiceStats
      tags:
        - Stats
      parameters:
        - name: from
          in: query
          description: Timestamp from which to begin gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Timestamp to end gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: by
          in: query
          description: Duration of sample windows (day, hour, minute)
          schema:
            type: string
            enum: [day, hour, minute]
            default: day
        - name: region
          in: query
          description: Filter stats by geographic region
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/realtime:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get real-time metrics
      description: Streams real-time metrics for a specific service. This endpoint provides up-to-the-second data on cache performance, request rates, and error rates. It's ideal for live dashboards, automated alerting systems, and immediate visibility into the impact of configuration changes or traffic spikes.
      operationId: getRealtimeMetrics
      tags:
        - Metrics
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeMetrics"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /historical:
    get:
      summary: Get historical stats
      description: Retrieves historical analytics data across all services. This endpoint provides aggregated metrics over longer time periods, allowing for trend analysis and historical comparisons. It supports various aggregation methods and filters to customize the returned data for specific analysis needs.
      operationId: getHistoricalStats
      tags:
        - Historical
      parameters:
        - name: from
          in: query
          description: Timestamp from which to begin gathering stats (UTC)
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Timestamp to end gathering stats (UTC)
          required: true
          schema:
            type: string
            format: date-time
        - name: by
          in: query
          description: Duration of sample windows
          schema:
            type: string
            enum: [day, hour, minute]
            default: day
        - name: region
          in: query
          description: Filter stats by geographic region
          schema:
            type: string
        - name: metric
          in: query
          description: The metric to get data for
          required: true
          schema:
            type: string
            enum: [requests, bandwidth, hits, miss, errors]
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoricalStats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Unprocessable Entity - Invalid parameters

  /service/{service_id}/version/{version_id}/origin:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List origins
      description: Retrieves all origins for a particular service and version. Origins define the source servers where Fastly fetches content. This endpoint returns a list of all configured origins with their complete configuration details, including host information, SSL settings, and connection timeouts.
      operationId: listOrigins
      tags:
        - Origin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Origin"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create origin
      description: Creates a new origin for the specified service and version. Origins define where Fastly should fetch your content from. This endpoint allows configuration of various origin properties including hostname, port, SSL settings, and connection timeouts. Properly configured origins are essential for content delivery performance.
      operationId: createOrigin
      tags:
        - Origin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OriginCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Origin"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/origin/{origin_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/origin_name"
    get:
      summary: Get origin details
      description: Retrieves the details of a specific origin. This endpoint provides comprehensive information about an origin's configuration, including hostname, port, connection settings, and SSL options. Use this endpoint when you need to inspect or verify the configuration of a specific origin.
      operationId: getOrigin
      tags:
        - Origin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Origin"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update origin
      description: Updates an existing origin configuration. This endpoint allows modification of origin properties including hostname, port, SSL settings, and connection parameters. Use this endpoint to adjust origin settings when your backend infrastructure changes or to optimize origin connection parameters.
      operationId: updateOrigin
      tags:
        - Origin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OriginUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Origin"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete origin
      description: Removes an origin from the service version. This endpoint permanently deletes the specified origin configuration. Use caution when deleting origins, as it may impact the availability of content if not properly managed.
      operationId: deleteOrigin
      tags:
        - Origin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/shield:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List shields
      description: Retrieves all shield configurations for a service version. Shields are Fastly's globally distributed points of presence (POPs) that can serve as an additional layer between clients and origins. This endpoint returns information about configured shields including their locations and settings.
      operationId: listShields
      tags:
        - Shield
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Shield"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/backend/{backend_name}/shield:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/backend_name"
    get:
      summary: Get backend shield
      description: Retrieves the shield configuration for a specific backend. Shields act as intermediary Fastly POPs that sit between the edge and the origin, offering another layer of caching. This endpoint returns the shield location and settings for the specified backend.
      operationId: getBackendShield
      tags:
        - Shield
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackendShield"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update backend shield
      description: Updates the shield configuration for a specific backend. This endpoint allows you to change the shield POP assigned to a backend, or enable/disable shielding. Shielding can reduce the load on your origin servers by serving requests from a consistent POP closer to your origin, improving performance and reliability.
      operationId: updateBackendShield
      tags:
        - Shield
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackendShieldUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackendShield"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  schemas:
    Service:
      type: object
      properties:
        id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        name:
          type: string
          description: The name of the service.
          example: My Service
        customer_id:
          type: string
          description: Alphanumeric string identifying the customer.
          example: x4xCwxxJxGCx123Rx5xTx
        comment:
          type: string
          description: A freeform descriptive note.
          example: Updated service
        type:
          type: string
          description: The type of this service.
          example: vcl
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the service was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the service was last updated.
          example: 2016-08-17T19:27:28+00:00
        active_version:
          type: object
          properties:
            number:
              type: integer
              description: The number of the active version.
              example: 1
      required:
        - id
        - name
        - customer_id

    ServiceCreate:
      type: object
      properties:
        name:
          type: string
          description: The name of the service.
          example: My Service
        comment:
          type: string
          description: A freeform descriptive note.
          example: New service
        type:
          type: string
          description: The type of this service.
          enum: [vcl, wasm]
          example: vcl
      required:
        - name
        - type

    ServiceUpdate:
      type: object
      properties:
        name:
          type: string
          description: The name of the service.
          example: Updated Service Name
        comment:
          type: string
          description: A freeform descriptive note.
          example: Updated service

    Domain:
      type: object
      properties:
        id:
          type: string
          description: Alphanumeric string identifying the domain.
          example: 1Z1MqLPfXE1plDLBzF1xin
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        name:
          type: string
          description: The name of the domain or domains associated with this service.
          example: www.example.com
        comment:
          type: string
          description: A freeform descriptive note.
          example: Domain for website
      required:
        - id
        - service_id
        - version
        - name

    DomainCreate:
      type: object
      properties:
        name:
          type: string
          description: The name of the domain or domains associated with this service.
          example: www.example.com
        comment:
          type: string
          description: A freeform descriptive note.
          example: Domain for website
      required:
        - name

    DomainUpdate:
      type: object
      properties:
        name:
          type: string
          description: The name of the domain or domains associated with this service.
          example: updated.example.com
        comment:
          type: string
          description: A freeform descriptive note.
          example: Updated domain for website

    Version:
      type: object
      properties:
        number:
          type: integer
          description: Integer identifying a service version.
          example: 1
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        active:
          type: boolean
          description: Whether this is the active version or not.
          example: true
        locked:
          type: boolean
          description: Whether this version is locked or not.
          example: false
        deployed:
          type: boolean
          description: Whether this version has been deployed or not.
          example: true
        staging:
          type: boolean
          description: Whether this version is for staging or not.
          example: false
        testing:
          type: boolean
          description: Whether this version is for testing or not.
          example: false
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the version was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the version was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - number
        - service_id
        - active

    Backend:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        name:
          type: string
          description: The name of the backend.
          example: My Backend
        address:
          type: string
          description: A hostname, IPv4, or IPv6 address for the backend.
          example: backend.example.com
        port:
          type: integer
          description: Port number of the address.
          example: 80
        override_host:
          type: string
          description: The hostname to override the Host header.
          example: cache.example.com
        connect_timeout:
          type: integer
          description: How long to wait for a timeout in milliseconds.
          example: 5000
        max_conn:
          type: integer
          description: Maximum number of connections.
          example: 200
        ssl_cert_hostname:
          type: string
          description: Overrides ssl_hostname, but only for cert verification.
          example: cert.example.com
        ssl_check_cert:
          type: boolean
          description: Be strict on checking SSL certs.
          example: true
        ssl_sni_hostname:
          type: string
          description: Overrides ssl_hostname, but only for SNI in the handshake.
          example: sni.example.com
        use_ssl:
          type: boolean
          description: Whether or not to use SSL to reach the backend.
          example: false
        weight:
          type: integer
          description: Weight used to load balance this backend against others.
          example: 100
        between_bytes_timeout:
          type: integer
          description: How long to wait between bytes in milliseconds.
          example: 10000
        auto_loadbalance:
          type: boolean
          description: Whether or not this backend should be automatically load balanced.
          example: false
        shield:
          type: string
          description: The shield POP designated to reduce inbound load.
          example: iad-va-us
      required:
        - service_id
        - version
        - name
        - address
        - port

    BackendCreate:
      type: object
      properties:
        name:
          type: string
          description: The name of the backend.
          example: My Backend
        address:
          type: string
          description: A hostname, IPv4, or IPv6 address for the backend.
          example: backend.example.com
        port:
          type: integer
          description: Port number of the address.
          example: 80
        override_host:
          type: string
          description: The hostname to override the Host header.
          example: cache.example.com
        connect_timeout:
          type: integer
          description: How long to wait for a timeout in milliseconds.
          example: 5000
        max_conn:
          type: integer
          description: Maximum number of connections.
          example: 200
        ssl_check_cert:
          type: boolean
          description: Be strict on checking SSL certs.
          example: true
        use_ssl:
          type: boolean
          description: Whether or not to use SSL to reach the backend.
          example: false
        weight:
          type: integer
          description: Weight used to load balance this backend against others.
          example: 100
        auto_loadbalance:
          type: boolean
          description: Whether or not this backend should be automatically load balanced.
          example: false
      required:
        - name
        - address
        - port

    BackendUpdate:
      type: object
      properties:
        name:
          type: string
          description: The name of the backend.
          example: Updated Backend
        address:
          type: string
          description: A hostname, IPv4, or IPv6 address for the backend.
          example: updated-backend.example.com
        port:
          type: integer
          description: Port number of the address.
          example: 443
        override_host:
          type: string
          description: The hostname to override the Host header.
          example: updated-cache.example.com
        connect_timeout:
          type: integer
          description: How long to wait for a timeout in milliseconds.
          example: 10000
        max_conn:
          type: integer
          description: Maximum number of connections.
          example: 300
        ssl_check_cert:
          type: boolean
          description: Be strict on checking SSL certs.
          example: false
        use_ssl:
          type: boolean
          description: Whether or not to use SSL to reach the backend.
          example: true
        weight:
          type: integer
          description: Weight used to load balance this backend against others.
          example: 200
        auto_loadbalance:
          type: boolean
          description: Whether or not this backend should be automatically load balanced.
          example: true

    VCL:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        name:
          type: string
          description: The name of this VCL.
          example: Main VCL
        content:
          type: string
          description: The VCL code.
          example: "vcl 4.0;\n\nbackend default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}"
        main:
          type: boolean
          description: Set to true when this is the main VCL, otherwise false.
          example: true
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the VCL was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the VCL was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - service_id
        - version
        - name
        - content

    VCLCreate:
      type: object
      properties:
        name:
          type: string
          description: The name of this VCL.
          example: Main VCL
        content:
          type: string
          description: The VCL code.
          example: "vcl 4.0;\n\nbackend default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}"
        main:
          type: boolean
          description: Set to true when this is the main VCL, otherwise false.
          example: true
      required:
        - name
        - content

    CacheSetting:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        name:
          type: string
          description: Name for the cache settings object.
          example: my-cache-setting
        ttl:
          type: integer
          description: Maximum time to live for the cache in seconds.
          example: 3600
        stale_ttl:
          type: integer
          description: Maximum time to serve stale object in seconds.
          example: 300
        action:
          type: string
          description: One of pass, cache, or restart, indicating how to handle the cache.
          enum: [pass, cache, restart]
          example: cache
        cache_condition:
          type: string
          description: Name of the cache condition controlling when this configuration applies.
          example: testing
      required:
        - service_id
        - version
        - name
        - action

    CacheSettingCreate:
      type: object
      properties:
        name:
          type: string
          description: Name for the cache settings object.
          example: my-cache-setting
        ttl:
          type: integer
          description: Maximum time to live for the cache in seconds.
          example: 3600
        stale_ttl:
          type: integer
          description: Maximum time to serve stale object in seconds.
          example: 300
        action:
          type: string
          description: One of pass, cache, or restart, indicating how to handle the cache.
          enum: [pass, cache, restart]
          example: cache
        cache_condition:
          type: string
          description: Name of the cache condition controlling when this configuration applies.
          example: testing
      required:
        - name
        - action

    CacheSettingUpdate:
      type: object
      properties:
        name:
          type: string
          description: Name for the cache settings object.
          example: updated-cache-setting
        ttl:
          type: integer
          description: Maximum time to live for the cache in seconds.
          example: 7200
        stale_ttl:
          type: integer
          description: Maximum time to serve stale object in seconds.
          example: 600
        action:
          type: string
          description: One of pass, cache, or restart, indicating how to handle the cache.
          enum: [pass, cache, restart]
          example: pass
        cache_condition:
          type: string
          description: Name of the cache condition controlling when this configuration applies.
          example: production

    Dictionary:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        id:
          type: string
          description: Alphanumeric string identifying a Dictionary.
          example: 5BUHk1vCIFZXlWdH41W3QK
        name:
          type: string
          description: Name for the Dictionary.
          example: my_dictionary
        write_only:
          type: boolean
          description: Determines if items in the dictionary are readable or not.
          example: false
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the dictionary was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the dictionary was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - service_id
        - version
        - id
        - name

    DictionaryCreate:
      type: object
      properties:
        name:
          type: string
          description: Name for the Dictionary.
          example: my_dictionary
        write_only:
          type: boolean
          description: Determines if items in the dictionary are readable or not.
          example: false
      required:
        - name

    DictionaryItem:
      type: object
      properties:
        dictionary_id:
          type: string
          description: Alphanumeric string identifying a Dictionary.
          example: 5BUHk1vCIFZXlWdH41W3QK
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        item_key:
          type: string
          description: Dictionary item key.
          example: some-key
        item_value:
          type: string
          description: Dictionary item value.
          example: some-value
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the dictionary item was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the dictionary item was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - dictionary_id
        - service_id
        - item_key
        - item_value

    DictionaryItemCreate:
      type: object
      properties:
        item_key:
          type: string
          description: Dictionary item key.
          example: some-key
        item_value:
          type: string
          description: Dictionary item value.
          example: some-value
      required:
        - item_key
        - item_value

    ACL:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        id:
          type: string
          description: Alphanumeric string identifying an ACL.
          example: 6tUXdegLTf5BCig0zGFrU3
        name:
          type: string
          description: Name for the ACL.
          example: my_acl
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the ACL was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the ACL was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - service_id
        - version
        - id
        - name

    ACLCreate:
      type: object
      properties:
        name:
          type: string
          description: Name for the ACL.
          example: my_acl
      required:
        - name

    ACLEntry:
      type: object
      properties:
        acl_id:
          type: string
          description: Alphanumeric string identifying an ACL.
          example: 6tUXdegLTf5BCig0zGFrU3
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        id:
          type: string
          description: Alphanumeric string identifying an ACL Entry.
          example: 6yxNzlOpW1V7JfSwvLGtOc
        ip:
          type: string
          description: An IP address.
          example: 192.168.0.1
        subnet:
          type: integer
          description: Number of bits for the subnet mask applied to the IP address.
          example: 24
        negated:
          type: boolean
          description: Whether to negate the match.
          example: false
        comment:
          type: string
          description: A freeform descriptive note.
          example: ACL entry for office
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the entry was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the entry was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - acl_id
        - service_id
        - id
        - ip

    ACLEntryCreate:
      type: object
      properties:
        ip:
          type: string
          description: An IP address.
          example: 192.168.0.1
        subnet:
          type: integer
          description: Number of bits for the subnet mask applied to the IP address.
          example: 24
        negated:
          type: boolean
          description: Whether to negate the match.
          example: false
        comment:
          type: string
          description: A freeform descriptive note.
          example: ACL entry for office
      required:
        - ip

    Healthcheck:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        name:
          type: string
          description: The name of the healthcheck.
          example: test-healthcheck
        method:
          type: string
          description: Which HTTP method to use.
          example: HEAD
        host:
          type: string
          description: The host header to send.
          example: example.com
        path:
          type: string
          description: The path to check.
          example: /health
        http_version:
          type: string
          description: Whether to use version 1.0 or 1.1 HTTP.
          example: "1.1"
        timeout:
          type: integer
          description: Timeout in milliseconds.
          example: 5000
        check_interval:
          type: integer
          description: How often to run the healthcheck in milliseconds.
          example: 10000
        expected_response:
          type: integer
          description: The status code expected from the host.
          example: 200
        window:
          type: integer
          description: The number of most recent healthcheck queries to keep for this healthcheck.
          example: 5
        threshold:
          type: integer
          description: How many healthchecks must succeed to be considered healthy.
          example: 3
        initial:
          type: integer
          description: When loading a config, the initial number of probes to be seen as OK.
          example: 2
      required:
        - service_id
        - version
        - name
        - host
        - path

    HealthcheckCreate:
      type: object
      properties:
        name:
          type: string
          description: The name of the healthcheck.
          example: test-healthcheck
        method:
          type: string
          description: Which HTTP method to use.
          example: HEAD
        host:
          type: string
          description: The host header to send.
          example: example.com
        path:
          type: string
          description: The path to check.
          example: /health
        http_version:
          type: string
          description: Whether to use version 1.0 or 1.1 HTTP.
          example: "1.1"
        timeout:
          type: integer
          description: Timeout in milliseconds.
          example: 5000
        check_interval:
          type: integer
          description: How often to run the healthcheck in milliseconds.
          example: 10000
        expected_response:
          type: integer
          description: The status code expected from the host.
          example: 200
        window:
          type: integer
          description: The number of most recent healthcheck queries to keep for this healthcheck.
          example: 5
        threshold:
          type: integer
          description: How many healthchecks must succeed to be considered healthy.
          example: 3
        initial:
          type: integer
          description: When loading a config, the initial number of probes to be seen as OK.
          example: 2
      required:
        - name
        - host
        - path

    LoggingS3:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        name:
          type: string
          description: The name for the real-time logging configuration.
          example: my-s3-logging
        bucket_name:
          type: string
          description: The name of the S3 bucket.
          example: my-bucket
        access_key:
          type: string
          description: Your S3 account access key.
          example: S3ACCESSKEY
        secret_key:
          type: string
          description: Your S3 account secret key.
          example: S3SECRETKEY
        domain:
          type: string
          description: The domain of the S3 endpoint.
          example: s3.amazonaws.com
        path:
          type: string
          description: The path to upload logs to.
          example: /my_log_path
        period:
          type: integer
          description: How frequently log files are finalized so they can be available for reading (in seconds).
          example: 3600
        gzip_level:
          type: integer
          description: What level of GZIP encoding to have when dumping logs (0-9).
          example: 9
        format:
          type: string
          description: Apache style log formatting.
          example: "%h %l %u %t %r %>s"
        format_version:
          type: integer
          description: The version of the custom logging format used for the configured endpoint.
          enum: [1, 2]
          example: 2
        response_condition:
          type: string
          description: The name of an existing condition in the configured endpoint.
          example: Response Condition
        timestamp_format:
          type: string
          description: A timestamp format.
          example: "%Y-%m-%dT%H:%M:%S.000"
        redundancy:
          type: string
          description: The S3 redundancy level.
          enum: [standard, reduced_redundancy]
          example: standard
        placement:
          type: string
          description: Where in the generated VCL the logging call should be placed.
          enum: [none, waf_debug]
          example: none
      required:
        - service_id
        - version
        - name
        - bucket_name
        - access_key
        - secret_key

    LoggingS3Create:
      type: object
      properties:
        name:
          type: string
          description: The name for the real-time logging configuration.
          example: my-s3-logging
        bucket_name:
          type: string
          description: The name of the S3 bucket.
          example: my-bucket
        access_key:
          type: string
          description: Your S3 account access key.
          example: S3ACCESSKEY
        secret_key:
          type: string
          description: Your S3 account secret key.
          example: S3SECRETKEY
        domain:
          type: string
          description: The domain of the S3 endpoint.
          example: s3.amazonaws.com
        path:
          type: string
          description: The path to upload logs to.
          example: /my_log_path
        period:
          type: integer
          description: How frequently log files are finalized so they can be available for reading (in seconds).
          example: 3600
        gzip_level:
          type: integer
          description: What level of GZIP encoding to have when dumping logs (0-9).
          example: 9
        format:
          type: string
          description: Apache style log formatting.
          example: "%h %l %u %t %r %>s"
        format_version:
          type: integer
          description: The version of the custom logging format used for the configured endpoint.
          enum: [1, 2]
          example: 2
        response_condition:
          type: string
          description: The name of an existing condition in the configured endpoint.
          example: Response Condition
        timestamp_format:
          type: string
          description: A timestamp format.
          example: "%Y-%m-%dT%H:%M:%S.000"
        redundancy:
          type: string
          description: The S3 redundancy level.
          enum: [standard, reduced_redundancy]
          example: standard
        placement:
          type: string
          description: Where in the generated VCL the logging call should be placed.
          enum: [none, waf_debug]
          example: none
      required:
        - name
        - bucket_name
        - access_key
        - secret_key

    WAF:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        id:
          type: string
          description: Alphanumeric string identifying a WAF Firewall.
          example: qKJJUh9QpYIdBgFKkRTC3n
        prefetch_condition:
          type: string
          description: Name of the corresponding condition object.
          example: WAF_Condition
        response:
          type: string
          description: Name of the corresponding response object.
          example: WAF_Response
        rule_statuses_log_count:
          type: object
          properties:
            block:
              type: integer
              description: Number of rules with block status.
              example: 365
            log:
              type: integer
              description: Number of rules with log status.
              example: 248
            score:
              type: integer
              description: Number of rules with score status.
              example: 142
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the WAF Firewall was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the WAF Firewall was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - service_id
        - version
        - id

    WAFCreate:
      type: object
      properties:
        prefetch_condition:
          type: string
          description: Name of the corresponding condition object.
          example: WAF_Condition
        response:
          type: string
          description: Name of the corresponding response object.
          example: WAF_Response
      required:
        - prefetch_condition

    WAFRule:
      type: object
      properties:
        id:
          type: string
          description: Alphanumeric string identifying a WAF rule.
          example: L68QKwN8QcmRFjV4y1BuN
        rule_id:
          type: string
          description: Corresponding ModSecurity rule ID.
          example: "942100"
        severity:
          type: integer
          description: Severity score.
          example: 3
        status:
          type: string
          description: Rule status.
          enum: [log, block, score]
          example: log
        tags:
          type: array
          description: List of rule tags.
          items:
            type: string
          example:
            [
              "application-multi",
              "language-multi",
              "platform-multi",
              "attack-sqli",
            ]
        message:
          type: string
          description: Rule message.
          example: "SQL Injection Attack Detected via libinjection"
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the rule was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the rule was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - id
        - rule_id
        - status

    WAFRuleUpdate:
      type: object
      properties:
        status:
          type: string
          description: Rule status.
          enum: [log, block, score]
          example: block
      required:
        - status

    RateLimit:
      type: object
      properties:
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        id:
          type: string
          description: Alphanumeric string identifying a Rate Limit.
          example: 3M74CpUYEpZIQhK4DfUQtr
        name:
          type: string
          description: A human readable name for the rate limiting rule.
          example: My Rate Limit
        uri:
          type: string
          description: The URI pattern to match.
          example: /api/*
        http_methods:
          type: array
          description: Array of HTTP methods to match.
          items:
            type: string
            enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS]
          example: ["GET", "POST"]
        rps_limit:
          type: integer
          description: Upper limit of requests per second allowed.
          example: 10
        window_size:
          type: integer
          description: Number of seconds during which the RPS limit is calculated.
          example: 60
        client_key:
          type: array
          description: Array of VCL variables used to generate a counter key to identify a client.
          items:
            type: string
          example: ["req.http.Fastly-Client-IP", "req.http.User-Agent"]
        penalty_box_duration:
          type: integer
          description: Length of time in seconds that the rate limit client entry is kept in the penalty box.
          example: 60
        action:
          type: string
          description: The action to take when a rate limit is exceeded.
          enum: [response, response_object, custom_response]
          example: response
        response:
          type: object
          description: Custom response to be sent when the rate limit is exceeded.
          properties:
            status:
              type: integer
              description: HTTP status code for the response.
              example: 429
            content_type:
              type: string
              description: MIME type for the response.
              example: application/json
            content:
              type: string
              description: Response body content.
              example: '{"error": "rate limit exceeded"}'
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the rate limit was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the rate limit was last updated.
          example: 2016-08-17T19:27:28+00:00
      required:
        - service_id
        - version
        - id
        - name
        - uri
        - rps_limit
        - action

    RateLimitCreate:
      type: object
      properties:
        name:
          type: string
          description: A human readable name for the rate limiting rule.
          example: My Rate Limit
        uri:
          type: string
          description: The URI pattern to match.
          example: /api/*
        http_methods:
          type: array
          description: Array of HTTP methods to match.
          items:
            type: string
            enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS]
          example: ["GET", "POST"]
        rps_limit:
          type: integer
          description: Upper limit of requests per second allowed.
          example: 10
        window_size:
          type: integer
          description: Number of seconds during which the RPS limit is calculated.
          example: 60
        client_key:
          type: array
          description: Array of VCL variables used to generate a counter key to identify a client.
          items:
            type: string
          example: ["req.http.Fastly-Client-IP", "req.http.User-Agent"]
        penalty_box_duration:
          type: integer
          description: Length of time in seconds that the rate limit client entry is kept in the penalty box.
          example: 60
        action:
          type: string
          description: The action to take when a rate limit is exceeded.
          enum: [response, response_object, custom_response]
          example: response
        response:
          type: object
          description: Custom response to be sent when the rate limit is exceeded.
          properties:
            status:
              type: integer
              description: HTTP status code for the response.
              example: 429
            content_type:
              type: string
              description: MIME type for the response.
              example: application/json
            content:
              type: string
              description: Response body content.
              example: '{"error": "rate limit exceeded"}'
      required:
        - name
        - uri
        - rps_limit
        - action

    RateLimitUpdate:
      type: object
      properties:
        name:
          type: string
          description: A human readable name for the rate limiting rule.
          example: Updated Rate Limit
        uri:
          type: string
          description: The URI pattern to match.
          example: /api/v2/*
        http_methods:
          type: array
          description: Array of HTTP methods to match.
          items:
            type: string
            enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS]
          example: ["GET", "POST", "PUT"]
        rps_limit:
          type: integer
          description: Upper limit of requests per second allowed.
          example: 20
        window_size:
          type: integer
          description: Number of seconds during which the RPS limit is calculated.
          example: 120
        client_key:
          type: array
          description: Array of VCL variables used to generate a counter key to identify a client.
          items:
            type: string
          example:
            [
              "req.http.Fastly-Client-IP",
              "req.http.User-Agent",
              "req.http.Authorization",
            ]
        penalty_box_duration:
          type: integer
          description: Length of time in seconds that the rate limit client entry is kept in the penalty box.
          example: 120
        action:
          type: string
          description: The action to take when a rate limit is exceeded.
          enum: [response, response_object, custom_response]
          example: custom_response
        response:
          type: object
          description: Custom response to be sent when the rate limit is exceeded.
          properties:
            status:
              type: integer
              description: HTTP status code for the response.
              example: 429
            content_type:
              type: string
              description: MIME type for the response.
              example: application/json
            content:
              type: string
              description: Response body content.
              example: '{"error": "too many requests", "retry_after": 60}'

    ComputePackage:
      type: object
      properties:
        id:
          type: string
          description: Alphanumeric string identifying the Compute@Edge package.
          example: b2Z8b3UjhuJYtUTztFYEpi
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying the package version number.
          example: 1
        name:
          type: string
          description: Name of the Compute@Edge package.
          example: my-compute-package
        metadata:
          type: object
          description: Metadata associated with the package.
          additionalProperties: true
          example:
            language: rust
            rustVersion: "1.53"
        created_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the package was created.
          example: 2016-08-17T19:27:28+00:00
        updated_at:
          type: string
          format: date-time
          description: Time-stamp (GMT) when the package was last updated.
          example: 2016-08-17T19:27:28+00:00
        size:
          type: integer
          description: Size of the package in bytes.
          example: 3145728
        hashsum:
          type: string
          description: SHA512 hash of the package content.
          example: "a94a8fe5ccb19ba61c4c0873d391e987982fbbd3"
      required:
        - id
        - service_id
        - version
        - name
        - size
        - hashsum

    ComputeConfig:
      type: object
      properties:
        service_id:
[...]
