openapi: 3.0.3
info:
  title: Fastly API
  description: |
    The Fastly API allows you to manage Fastly services via a REST-like interface.
    This API provides comprehensive control over Fastly CDN services, including configuration management,
    content purging, real-time analytics, and advanced edge computing features.
  version: "1.0"
  contact:
    name: Fastly Support
    url: https://www.fastly.com/support
    email: support@fastly.com
  license:
    name: MIT
  termsOfService: https://www.fastly.com/terms

servers:
  - url: https://api.fastly.com
    description: Fastly API production server

externalDocs:
  description: Fastly API Documentation
  url: https://developer.fastly.com/reference/api

security:
  - ApiKeyAuth: []

paths:
  /service:
    get:
      summary: List all services in account
      description: |
        Retrieves a paginated list of all Fastly services configured in the authenticated user's account.

        **Purpose**: Use this endpoint to discover all services you have access to, useful for service management, monitoring dashboards, or iterating through services for batch operations.

        **When to use**:
        - Initial service discovery
        - Building service management interfaces
        - Auditing service configurations
        - Preparing batch operations across multiple services

        **Response**: Returns an array of service objects with basic metadata including service ID, name, creation timestamps, and active version information.

        **Rate limiting**: This endpoint has standard rate limits. For large numbers of services, implement pagination handling.
      operationId: listServices
      tags:
        - Service
      parameters:
        - name: page
          in: query
          description: Page number for pagination (1-based indexing)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of services to return per page (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          description: Field to sort by
          schema:
            type: string
            enum: [created, updated, name]
            default: created
        - name: direction
          in: query
          description: Sort direction
          schema:
            type: string
            enum: [ascend, descend]
            default: ascend
      responses:
        "200":
          description: Successfully retrieved list of services
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Service"
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      record_count:
                        type: integer
                      total_count:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create a new service
      description: |
        Creates a new Fastly service configuration. A service is the top-level organizational unit in Fastly that contains all configurations for a specific application or website.

        **Purpose**: Establishes a new service container that will hold domains, backends, VCL configurations, caching rules, and other CDN settings.

        **Prerequisites**:
        - Valid API authentication
        - Sufficient account permissions
        - Available service quota in your account

        **Post-creation steps**:
        1. Add domains to the service
        2. Configure backend servers
        3. Set up caching rules and VCL logic
        4. Create and activate a service version

        **Important**: Newly created services are inactive by default. You must configure domains and backends, then activate a version to serve traffic.

        **Service naming**: Choose descriptive names as they appear in the Fastly control panel and logs.
      operationId: createService
      tags:
        - Service
      requestBody:
        description: Service configuration data
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceCreate"
            examples:
              basic_service:
                summary: Basic service creation
                value:
                  name: "my-website-cdn"
                  comment: "CDN service for my website"
                  type: "vcl"
              ecommerce_service:
                summary: E-commerce service
                value:
                  name: "ecommerce-api-cdn"
                  comment: "High-performance CDN for e-commerce API endpoints"
                  type: "vcl"
        required: true
      responses:
        "201":
          description: Service created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Validation error - invalid service parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Service name must be unique"
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string

  /service/{service_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get detailed service information
      description: |
        Retrieves comprehensive information about a specific Fastly service, including configuration metadata, version details, and operational status.

        **Purpose**: Use this endpoint to inspect a service's current state, configuration summary, and deployment status before making changes or for monitoring purposes.

        **When to use**:
        - Before modifying service configurations
        - Checking current active version
        - Validating service existence and permissions
        - Gathering service metadata for documentation

        **Response includes**:
        - Service name, ID, and description
        - Active version number and timestamp
        - Creation and last modification dates
        - Customer/account association
        - Service type and paused state

        **Common use cases**:
        - Service configuration auditing
        - Pre-deployment validation
        - Dashboard status displays
        - Automated deployment scripts
      operationId: getService
      tags:
        - Service
      responses:
        "200":
          description: Successfully retrieved service details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
              examples:
                active_service:
                  summary: Active service with deployed version
                  value:
                    id: "SU1Z0isxPaozGVKXdv0eY"
                    name: "my-website-cdn"
                    comment: "Primary CDN for website"
                    customer_id: "x4xCwxxJxGCx123Rx5xTx"
                    type: "vcl"
                    active_version:
                      number: 3
                      deployed: true
                      locked: true
                    versions: 5
                    paused: false
                    created_at: "2023-01-15T10:30:00Z"
                    updated_at: "2023-06-20T14:45:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update service metadata
      description: |
        Updates the metadata and general configuration of an existing service. This endpoint modifies service-level properties but does not affect version-specific configurations.

        **Purpose**: Modify service name, description, or other metadata without affecting the deployed configuration.

        **What can be updated**:
        - Service name (must be unique within account)
        - Service comment/description
        - Customer assignment (if permissions allow)

        **What is NOT updated**:
        - Domains (use version-specific domain endpoints)
        - Backends (use version-specific backend endpoints)
        - VCL configurations (use version-specific VCL endpoints)
        - Active version (use version activation endpoint)

        **Important notes**:
        - Service name changes affect logging and monitoring displays
        - Updates do not require version activation
        - Changes are immediately visible in the control panel

        **Best practices**:
        - Use descriptive names for easier management
        - Update comments when making significant changes
        - Coordinate name changes with team members
      operationId: updateService
      tags:
        - Service
      requestBody:
        description: Updated service metadata
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceUpdate"
            examples:
              rename_service:
                summary: Rename service with updated description
                value:
                  name: "website-cdn-production"
                  comment: "Production CDN for main website - updated for new architecture"
              update_comment:
                summary: Update service description only
                value:
                  comment: "CDN service for marketing site - high cache TTL configuration"
        required: true
      responses:
        "200":
          description: Service metadata updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Validation error - invalid service parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Service name must be unique"
    delete:
      summary: Permanently delete service
      description: |
        Permanently and irreversibly deletes a Fastly service and all associated configurations, including all versions, domains, backends, VCL code, and historical data.

        **⚠️ CRITICAL WARNING**: This operation is irreversible and immediately stops all traffic routing through this service.

        **What gets deleted**:
        - All service versions (active and inactive)
        - All configured domains
        - All backend definitions
        - All VCL configurations and snippets
        - All caching rules and headers
        - All logging configurations
        - Historical statistics and logs

        **Prerequisites before deletion**:
        1. Ensure no production traffic depends on this service
        2. Update DNS records to point away from Fastly
        3. Backup any custom VCL or configurations
        4. Notify team members of the deletion
        5. Consider service pausing as an alternative

        **Alternative approaches**:
        - Pause the service instead of deletion (reversible)
        - Remove domains while keeping service configuration
        - Deactivate service version while preserving configuration

        **Post-deletion effects**:
        - All requests to configured domains will fail
        - Service cannot be recovered or restored
        - Service ID becomes invalid for all API operations
        - Billing for this service stops immediately
      operationId: deleteService
      tags:
        - Service
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/domain:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: List domains
      description: List all domains for a service
      operationId: listDomains
      tags:
        - Domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Domain"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create domain
      description: Create a new domain for a service
      operationId: createDomain
      tags:
        - Domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/domain/{domain_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/domain_id"
    get:
      summary: Get domain details
      description: Get details of a specific domain
      operationId: getDomain
      tags:
        - Domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update domain
      description: Update a specific domain
      operationId: updateDomain
      tags:
        - Domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete domain
      description: Delete a specific domain
      operationId: deleteDomain
      tags:
        - Domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: List versions
      description: List all versions for a service
      operationId: listVersions
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: Get version details
      description: Get details of a specific version
      operationId: getVersion
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/activate:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    put:
      summary: Activate version
      description: Activates a specific service version, making it the production version that serves live traffic. Once activated, the version becomes locked and cannot be modified further without cloning. This is a critical operation that impacts production traffic, so it should be performed after thorough testing.
      operationId: activateVersion
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/clone:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    put:
      summary: Clone version
      description: Clone a specific version
      operationId: cloneVersion
      tags:
        - Version
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/backend:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List backends
      description: List all backends for a service version
      operationId: listBackends
      tags:
        - Backend
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Backend"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create backend
      description: Create a new backend for a service version
      operationId: createBackend
      tags:
        - Backend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackendCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backend"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/backend/{backend_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/backend_name"
    get:
      summary: Get backend details
      description: Get details of a specific backend
      operationId: getBackend
      tags:
        - Backend
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backend"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update backend
      description: Update a specific backend
      operationId: updateBackend
      tags:
        - Backend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackendUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backend"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete backend
      description: Delete a specific backend
      operationId: deleteBackend
      tags:
        - Backend
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/purge_all:
    parameters:
      - $ref: "#/components/parameters/service_id"
    post:
      summary: Purge all content
      description: Immediately purges all cached content for a service across the global Fastly network. This operation is resource-intensive and should be used judiciously. It's useful for emergency situations where stale content must be removed immediately, such as after a significant data update or security incident. For more targeted cache invalidation, use surrogate keys or specific URL purges instead.
      operationId: purgeAll
      tags:
        - Purge
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"


  /service/{service_id}/purge:
    parameters:
      - $ref: "#/components/parameters/service_id"
    post:
      summary: Purge by key
      description: Purges content from the Fastly cache by cache key or surrogate key. This is a flexible purging mechanism that allows for targeted invalidation of multiple related resources at once using a shared key. This is more efficient than purging individual URLs when groups of content need to be refreshed simultaneously.
      operationId: purgeByKey
      tags:
        - Purge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                surrogate_keys:
                  type: array
                  description: List of surrogate keys to purge
                  items:
                    type: string
                  example: ["key1", "key2", "product_id_123"]
              required:
                - surrogate_keys
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurgeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"


  /service/{service_id}/purge/{purge_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/purge_id"
    get:
      summary: Get purge status
      description: Checks the status of a previously initiated purge request. Purge requests are processed asynchronously across the Fastly network. This endpoint allows for monitoring the progress of a purge as it propagates through the global cache infrastructure.
      operationId: getPurgeStatus
      tags:
        - Purge
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurgeStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/vcl:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List VCL files
      description: List all VCL files for a service version
      operationId: listVcls
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VCL"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create VCL file
      description: Create a new VCL file for a service version
      operationId: createVcl
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VCLCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VCL"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/cache_settings:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List cache settings
      description: List all cache settings for a service version
      operationId: listCacheSettings
      tags:
        - CacheSettings
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CacheSetting"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create cache setting
      description: Create a new cache setting for a service version
      operationId: createCacheSetting
      tags:
        - CacheSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CacheSettingCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheSetting"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/cache_settings/{cache_setting_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/cache_setting_name"
    get:
      summary: Get cache setting
      description: Get a specific cache setting
      operationId: getCacheSetting
      tags:
        - CacheSettings
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheSetting"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update cache setting
      description: Update a specific cache setting
      operationId: updateCacheSetting
      tags:
        - CacheSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CacheSettingUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheSetting"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete cache setting
      description: Delete a specific cache setting
      operationId: deleteCacheSetting
      tags:
        - CacheSettings
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/dictionary:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List dictionaries
      description: List all edge dictionaries for a service version
      operationId: listDictionaries
      tags:
        - Dictionary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dictionary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create dictionary
      description: Create a new edge dictionary for a service version
      operationId: createDictionary
      tags:
        - Dictionary
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DictionaryCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dictionary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/dictionary/{dictionary_id}/items:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/dictionary_id"
    get:
      summary: List dictionary items
      description: List all items in an edge dictionary
      operationId: listDictionaryItems
      tags:
        - DictionaryItem
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DictionaryItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create dictionary item
      description: Create a new dictionary item
      operationId: createDictionaryItem
      tags:
        - DictionaryItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DictionaryItemCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DictionaryItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/acl:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List ACLs
      description: List all ACLs for a service version
      operationId: listAcls
      tags:
        - ACL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ACL"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create ACL
      description: Create a new ACL for a service version
      operationId: createAcl
      tags:
        - ACL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ACLCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ACL"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/acl/{acl_id}/entries:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/acl_id"
    get:
      summary: List ACL entries
      description: List all entries in an ACL
      operationId: listAclEntries
      tags:
        - ACLEntry
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ACLEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create ACL entry
      description: Create a new ACL entry
      operationId: createAclEntry
      tags:
        - ACLEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ACLEntryCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ACLEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/healthcheck:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List health checks
      description: List all health checks for a service version
      operationId: listHealthchecks
      tags:
        - Healthcheck
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Healthcheck"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create health check
      description: Create a new health check for a service version
      operationId: createHealthcheck
      tags:
        - Healthcheck
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthcheckCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Healthcheck"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/logging/s3:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List S3 log endpoints
      description: List all S3 log endpoints for a service version
      operationId: listS3Logs
      tags:
        - Logging
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LoggingS3"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create S3 log endpoint
      description: Create a new S3 log endpoint for a service version
      operationId: createS3Log
      tags:
        - Logging
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoggingS3Create"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggingS3"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/waf:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: Get WAF settings
      description: Retrieves the Web Application Firewall (WAF) configuration for a specific service version. The WAF provides protection against common web vulnerabilities and attacks like SQL injection, cross-site scripting (XSS), and OWASP Top 10 threats. This endpoint returns the complete WAF configuration including rule status counts and associated conditions.
      operationId: getWafSettings
      tags:
        - WAF
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WAF"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create WAF
      description: Creates a new Web Application Firewall (WAF) configuration for a service version. The WAF provides protection against attacks like SQL injection, cross-site scripting, and other OWASP Top 10 threats. This endpoint provisions the initial WAF with default settings, which can then be customized through rule management endpoints. A prefetch condition must be specified to determine which requests are inspected by the WAF.
      operationId: createWaf
      tags:
        - WAF
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WAFCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WAF"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"


  /service/{service_id}/version/{version_id}/rate-limiting:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List rate limiting configurations
      description: List all rate limiting configurations for a service version
      operationId: listRateLimits
      tags:
        - RateLimiting
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RateLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create rate limiting
      description: Create a new rate limiting configuration for a service version
      operationId: createRateLimit
      tags:
        - RateLimiting
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateLimitCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimit"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/rate-limiting/{rate_limit_id}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/rate_limit_id"
    get:
      summary: Get rate limit
      description: Get a specific rate limit configuration
      operationId: getRateLimit
      tags:
        - RateLimiting
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update rate limit
      description: Update a specific rate limit configuration
      operationId: updateRateLimit
      tags:
        - RateLimiting
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateLimitUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimit"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete rate limit
      description: Delete a specific rate limit configuration
      operationId: deleteRateLimit
      tags:
        - RateLimiting
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"


  /service/{service_id}/version/{version_id}/compute:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: Get Compute configuration
      description: Get Compute configuration for a service version
      operationId: getComputeConfig
      tags:
        - Compute
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update Compute configuration
      description: Update Compute configuration for a service version
      operationId: updateComputeConfig
      tags:
        - Compute
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeConfigUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeConfig"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /stats:
    get:
      summary: Get real-time stats
      description: Retrieves real-time stats for all services. This endpoint provides aggregated statistics about cache performance, bandwidth usage, and request handling across your entire Fastly account. Use this for global monitoring dashboards and cross-service analysis.
      operationId: getStats
      tags:
        - Stats
      parameters:
        - name: from
          in: query
          description: Timestamp from which to begin gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Timestamp to end gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: by
          in: query
          description: Duration of sample windows (day, hour, minute)
          schema:
            type: string
            enum: [day, hour, minute]
            default: day
        - name: region
          in: query
          description: Filter stats by geographic region
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Unprocessable Entity - Invalid parameters

  /service/{service_id}/stats/summary:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get service stats summary
      description: Retrieves a summary of statistics for a specific service. This endpoint returns aggregated data for high-level metrics like hits, misses, and bandwidth usage. It's useful for dashboards that need a quick overview of service performance without the granularity of time-series data.
      operationId: getServiceStatsSummary
      tags:
        - Stats
      parameters:
        - name: from
          in: query
          description: Timestamp from which to begin gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Timestamp to end gathering stats (UTC)
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/stats:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get service stats
      description: Retrieves detailed statistics for a specific service. This endpoint provides comprehensive time-series data on cache performance, origin shields, and content delivery metrics. Use this for detailed analysis of a service's performance over time, troubleshooting, and capacity planning.
      operationId: getServiceStats
      tags:
        - Stats
      parameters:
        - name: from
          in: query
          description: Timestamp from which to begin gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Timestamp to end gathering stats (UTC)
          schema:
            type: string
            format: date-time
        - name: by
          in: query
          description: Duration of sample windows (day, hour, minute)
          schema:
            type: string
            enum: [day, hour, minute]
            default: day
        - name: region
          in: query
          description: Filter stats by geographic region
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/realtime:
    parameters:
      - $ref: "#/components/parameters/service_id"
    get:
      summary: Get real-time metrics
      description: Streams real-time metrics for a specific service. This endpoint provides up-to-the-second data on cache performance, request rates, and error rates. It's ideal for live dashboards, automated alerting systems, and immediate visibility into the impact of configuration changes or traffic spikes.
      operationId: getRealtimeMetrics
      tags:
        - Metrics
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeMetrics"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"


  /service/{service_id}/version/{version_id}/origin:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List origins
      description: Retrieves all origins for a particular service and version. Origins define the source servers where Fastly fetches content. This endpoint returns a list of all configured origins with their complete configuration details, including host information, SSL settings, and connection timeouts.
      operationId: listOrigins
      tags:
        - Origin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Origin"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create origin
      description: Creates a new origin for the specified service and version. Origins define where Fastly should fetch your content from. This endpoint allows configuration of various origin properties including hostname, port, SSL settings, and connection timeouts. Properly configured origins are essential for content delivery performance.
      operationId: createOrigin
      tags:
        - Origin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OriginCreate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Origin"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/origin/{origin_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/origin_name"
    get:
      summary: Get origin details
      description: Retrieves the details of a specific origin. This endpoint provides comprehensive information about an origin's configuration, including hostname, port, connection settings, and SSL options. Use this endpoint when you need to inspect or verify the configuration of a specific origin.
      operationId: getOrigin
      tags:
        - Origin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Origin"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update origin
      description: Updates an existing origin configuration. This endpoint allows modification of origin properties including hostname, port, SSL settings, and connection parameters. Use this endpoint to adjust origin settings when your backend infrastructure changes or to optimize origin connection parameters.
      operationId: updateOrigin
      tags:
        - Origin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OriginUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Origin"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete origin
      description: Removes an origin from the service version. This endpoint permanently deletes the specified origin configuration. Use caution when deleting origins, as it may impact the availability of content if not properly managed.
      operationId: deleteOrigin
      tags:
        - Origin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/shield:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List shields
      description: Retrieves all shield configurations for a service version. Shields are Fastly's globally distributed points of presence (POPs) that can serve as an additional layer between clients and origins. This endpoint returns information about configured shields including their locations and settings.
      operationId: listShields
      tags:
        - Shield
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Shield"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/backend/{backend_name}/shield:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - $ref: "#/components/parameters/backend_name"
    get:
      summary: Get backend shield
      description: Retrieves the shield configuration for a specific backend. Shields act as intermediary Fastly POPs that sit between the edge and the origin, offering another layer of caching. This endpoint returns the shield location and settings for the specified backend.
      operationId: getBackendShield
      tags:
        - Shield
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackendShield"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update backend shield
      description: Updates the shield configuration for a specific backend. This endpoint allows you to change the shield POP assigned to a backend, or enable/disable shielding. Shielding can reduce the load on your origin servers by serving requests from a consistent POP closer to your origin, improving performance and reliability.
      operationId: updateBackendShield
      tags:
        - Shield
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackendShieldUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackendShield"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # Account Management Endpoints

  /billing/v3/service-usage-metrics:
    get:
      summary: Get service usage metrics
      description: Retrieve service-level usage metrics for services with non-zero usage units
      operationId: getServiceUsageMetrics
      tags:
        - Account
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUsageMetrics"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /billing/v3/usage-metrics:
    get:
      summary: Get monthly usage metrics
      description: Get monthly usage metrics
      operationId: getMonthlyUsageMetrics
      tags:
        - Account
      parameters:
        - name: month
          in: query
          schema:
            type: string
        - name: year
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageMetrics"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /customer/{customer_id}/contacts:
    parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Add customer contact
      description: Add a new customer contact
      operationId: createCustomerContact
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerContactCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerContact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"


  /customer/{customer_id}:
    parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
    put:
      summary: Update customer
      description: Update a customer
      operationId: updateCustomer
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /events:
    get:
      summary: List events
      description: List events for audit purposes
      operationId: listEvents
      tags:
        - Account
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
        "401":
          $ref: "#/components/responses/Unauthorized"


  # Authentication Token Endpoints
  /automation-tokens:
    get:
      summary: List all automation tokens
      description: |
        Retrieves a list of all automation tokens associated with the authenticated account. Automation tokens are service accounts designed for programmatic access and automated workflows.

        **Purpose**: Discover and audit automation tokens for security management, access review, and token lifecycle management.

        **What are automation tokens**:
        - Non-personal API tokens not tied to individual users
        - Designed for CI/CD pipelines, deployment scripts, and automated systems
        - Persist beyond individual user account changes
        - Can be scoped to specific services or operations

        **When to use**:
        - Security audits and access reviews
        - Token lifecycle management
        - Setting up monitoring for token usage
        - Before creating new tokens (check for existing ones)

        **Response includes**:
        - Token ID and name
        - Creation date and expiration
        - Scope and permissions
        - Last used timestamp
        - Associated services

        **Security considerations**:
        - Review tokens regularly for unused or expired entries
        - Monitor token usage for anomalous activity
        - Rotate tokens according to security policies
        - Delete unused tokens to minimize attack surface
      operationId: listAutomationTokens
      tags:
        - Authentication
      parameters:
        - name: include_expired
          in: query
          description: Include expired tokens in the response
          schema:
            type: boolean
            default: false
        - name: scope
          in: query
          description: Filter tokens by scope
          schema:
            type: string
            enum: [global, service_specific, read_only]
      responses:
        "200":
          description: Successfully retrieved automation tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AutomationToken"
              examples:
                active_tokens:
                  summary: List of active automation tokens
                  value:
                    - id: "at_1234567890abcdef"
                      name: "ci-cd-pipeline"
                      scope: "service_specific"
                      expires_at: "2024-12-31T23:59:59Z"
                      created_at: "2023-01-01T00:00:00Z"
                      last_used_at: "2023-10-15T10:30:00Z"
                    - id: "at_abcdef1234567890"
                      name: "monitoring-system"
                      scope: "read_only"
                      expires_at: "2025-06-30T23:59:59Z"
                      created_at: "2023-06-01T12:00:00Z"
                      last_used_at: "2023-10-20T14:15:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Insufficient permissions to list automation tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Insufficient permissions to access automation tokens"
    post:
      summary: Create new automation token
      description: |
        Creates a new automation token for programmatic access to the Fastly API. Automation tokens are designed for CI/CD systems, deployment pipelines, and other automated workflows.

        **Purpose**: Establish secure, non-personal API access for automated systems and service accounts.

        **Use cases**:
        - CI/CD pipeline authentication
        - Automated deployment scripts
        - Monitoring and alerting systems
        - Infrastructure as Code (IaC) tools
        - Third-party integrations

        **Token characteristics**:
        - Independent of individual user accounts
        - Survive user account changes or departures
        - Can be scoped to specific services or operations
        - Support expiration dates for security
        - Generate audit logs for usage tracking

        **Scoping options**:
        - **global**: Full account access (use sparingly)
        - **service_specific**: Limited to specified services
        - **read_only**: Read operations only (safe for monitoring)
        - **limited**: Custom permission sets

        **Security best practices**:
        - Use least-privilege principle for scoping
        - Set reasonable expiration dates
        - Use descriptive names for token identification
        - Store tokens securely (environment variables, secret managers)
        - Rotate tokens regularly
        - Monitor token usage for anomalies

        **Important**: The token value is only shown once upon creation. Store it securely immediately.
      operationId: createAutomationToken
      tags:
        - Authentication
      requestBody:
        description: Automation token configuration
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutomationTokenCreate"
            examples:
              ci_cd_token:
                summary: CI/CD pipeline token
                value:
                  name: "github-actions-deployment"
                  scope: "service_specific"
                  expires_at: "2024-12-31T23:59:59Z"
                  services: ["SU1Z0isxPaozGVKXdv0eY"]
              monitoring_token:
                summary: Read-only monitoring token
                value:
                  name: "datadog-metrics-collector"
                  scope: "read_only"
                  expires_at: "2025-06-30T23:59:59Z"
              emergency_token:
                summary: Emergency access token
                value:
                  name: "emergency-deployment-token"
                  scope: "global"
                  expires_at: "2024-01-31T23:59:59Z"
        required: true
      responses:
        "201":
          description: Automation token created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationToken"
              examples:
                new_token_response:
                  summary: Newly created token with secret
                  value:
                    id: "at_1234567890abcdef"
                    name: "github-actions-deployment"
                    token: "fa-abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
                    scope: "service_specific"
                    expires_at: "2024-12-31T23:59:59Z"
                    created_at: "2023-10-20T15:30:00Z"
                    services: ["SU1Z0isxPaozGVKXdv0eY"]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Insufficient permissions to create automation tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Insufficient permissions to create automation tokens"
        "422":
          description: Token validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "Token name must be unique"
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string


  /tokens:
    get:
      summary: List user tokens
      description: List user tokens
      operationId: listUserTokens
      tags:
        - Authentication
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserToken"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create user token
      description: Create a user token
      operationId: createUserToken
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserTokenCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserToken"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"


  /current_user:
    get:
      summary: Get current user
      description: Get the current user
      operationId: getCurrentUser
      tags:
        - Authentication
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"


  # Security Endpoints
  /ddos-protection/v1/events:
    get:
      summary: List DDoS protection events
      description: List all DDoS protection events
      operationId: listDdosEvents
      tags:
        - Security
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DdosEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"


  /tls/certificates:
    get:
      summary: List TLS certificates
      description: List all TLS certificates
      operationId: listTlsCertificates
      tags:
        - Security
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TlsCertificate"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create TLS certificate
      description: Create a new TLS certificate
      operationId: createTlsCertificate
      tags:
        - Security
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TlsCertificateCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TlsCertificate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"


  /tls/activations:
    get:
      summary: List TLS activations
      description: List TLS activations
      operationId: listTlsActivations
      tags:
        - Security
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TlsActivation"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create TLS activation
      description: Create a TLS activation
      operationId: createTlsActivation
      tags:
        - Security
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TlsActivationCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TlsActivation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"


  /tls/mutual_authentications:
    get:
      summary: List mutual TLS configurations
      description: List all mutual TLS configurations
      operationId: listMutualAuthentications
      tags:
        - Security
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MutualAuthentication"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create mutual TLS configuration
      description: Create a mutual TLS configuration
      operationId: createMutualAuthentication
      tags:
        - Security
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MutualAuthenticationCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MutualAuthentication"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"


  # VCL Object Endpoints
  /service/{service_id}/version/{version_id}/condition:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List conditions
      description: List all conditions for a service version
      operationId: listConditions
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Condition"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create condition
      description: Create a new condition
      operationId: createCondition
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConditionCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Condition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}/version/{version_id}/condition/{condition_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - name: condition_name
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get condition
      description: Get details of a specific condition
      operationId: getCondition
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Condition"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update condition
      description: Update a condition
      operationId: updateCondition
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConditionUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Condition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete condition
      description: Delete a condition
      operationId: deleteCondition
      tags:
        - VCL
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/header:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List headers
      description: List all headers for a service version
      operationId: listHeaders
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Header"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create header
      description: Create a new header
      operationId: createHeader
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HeaderCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Header"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}/version/{version_id}/header/{header_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - name: header_name
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get header
      description: Get details of a specific header
      operationId: getHeader
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Header"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update header
      description: Update a header object
      operationId: updateHeader
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HeaderUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Header"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete header
      description: Delete a header object
      operationId: deleteHeader
      tags:
        - VCL
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/gzip:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List gzip configurations
      description: List all gzip configurations for a service version
      operationId: listGzipConfigurations
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GzipConfiguration"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create gzip configuration
      description: Create a new gzip configuration
      operationId: createGzipConfiguration
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GzipConfigurationCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GzipConfiguration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}/version/{version_id}/gzip/{gzip_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - name: gzip_name
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get gzip configuration
      description: Get details of a specific gzip configuration
      operationId: getGzipConfiguration
      tags:
        - VCL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GzipConfiguration"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update gzip configuration
      description: Update a gzip configuration
      operationId: updateGzipConfiguration
      tags:
        - VCL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GzipConfigurationUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GzipConfiguration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete gzip configuration
      description: Delete a gzip configuration
      operationId: deleteGzipConfiguration
      tags:
        - VCL
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # Load Balancing Endpoints
  /service/{service_id}/version/{version_id}/director:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List directors
      description: List all directors for a service version
      operationId: listDirectors
      tags:
        - LoadBalancing
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Director"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create director
      description: Create a new director
      operationId: createDirector
      tags:
        - LoadBalancing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectorCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Director"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}/version/{version_id}/director/{director_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - name: director_name
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get director
      description: Get details of a specific director
      operationId: getDirector
      tags:
        - LoadBalancing
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Director"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update director
      description: Update a director
      operationId: updateDirector
      tags:
        - LoadBalancing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectorUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Director"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete director
      description: Delete a director
      operationId: deleteDirector
      tags:
        - LoadBalancing
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /service/{service_id}/version/{version_id}/pool:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
    get:
      summary: List pools
      description: List all pools for a service version
      operationId: listPools
      tags:
        - LoadBalancing
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pool"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create pool
      description: Create a new server pool
      operationId: createPool
      tags:
        - LoadBalancing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PoolCreate"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pool"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /service/{service_id}/version/{version_id}/pool/{pool_name}:
    parameters:
      - $ref: "#/components/parameters/service_id"
      - $ref: "#/components/parameters/version_id"
      - name: pool_name
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get pool
      description: Get details of a specific pool
      operationId: getPool
      tags:
        - LoadBalancing
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pool"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update pool
      description: Update a server pool
      operationId: updatePool
      tags:
        - LoadBalancing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PoolUpdate"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pool"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete pool
      description: Delete a server pool
      operationId: deletePool
      tags:
        - LoadBalancing
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # Utility Endpoints
  /datacenters:
    get:
      summary: List Fastly POPs
      description: List all Fastly Points of Presence (POPs) and their locations
      operationId: listDatacenters
      tags:
        - Utilities
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Datacenter"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /public-ip-list:
    get:
      summary: List Fastly public IPs
      description: List all Fastly public IP addresses
      operationId: listPublicIPs
      tags:
        - Utilities
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicIPList"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /content/edge_check:
    get:
      summary: Check content status
      description: Check status of content in each POP's cache
      operationId: checkContentStatus
      tags:
        - Utilities
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            description: URL to check
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  schemas:
    Service:
      type: object
      description: |
        Represents a Fastly service configuration. A service is the top-level organizational unit that contains all CDN configurations for a specific application or website.
      properties:
        id:
          type: string
          description: |
            Unique alphanumeric identifier for the service. This immutable ID is used in all API operations referencing this service.
            Format: Alphanumeric string, typically 20-25 characters
            Usage: Required for all service-specific API endpoints
          pattern: '^[A-Za-z0-9]{20,25}$'
          example: "SU1Z0isxPaozGVKXdv0eY"
        name:
          type: string
          description: |
            Human-readable name for the service. This name appears in the Fastly control panel, logs, and monitoring systems.
            Constraints: Must be unique within the customer account
            Best practices: Use descriptive names that identify the application or purpose
          minLength: 1
          maxLength: 100
          example: "my-website-cdn"
        customer_id:
          type: string
          description: |
            Unique identifier for the customer account that owns this service.
            This establishes the billing and access control context for the service.
          pattern: '^[A-Za-z0-9]+$'
          example: "x4xCwxxJxGCx123Rx5xTx"
        comment:
          type: string
          description: |
            Optional descriptive note or documentation for the service.
            Use this field to document the service purpose, configuration notes, or team ownership information.
          maxLength: 500
          example: "Production CDN for main website - handles static assets and API acceleration"
        type:
          type: string
          description: |
            Service type indicating the Fastly platform and features available.
            - vcl: Traditional VCL-based service with full customization
            - wasm: Fastly Compute service using WebAssembly
          enum: ["vcl", "wasm"]
          example: "vcl"
        created_at:
          type: string
          format: date-time
          description: |
            ISO 8601 timestamp when the service was initially created.
            This timestamp is immutable and tracks the service lifecycle.
          example: "2023-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: |
            ISO 8601 timestamp when the service metadata was last modified.
            This updates when service name, comment, or other metadata changes (not version-specific changes).
          example: "2023-10-20T14:45:00Z"
        active_version:
          type: object
          description: |
            Information about the currently active (live) version of this service.
            The active version serves production traffic and cannot be modified.
          properties:
            number:
              type: integer
              description: |
                Version number of the currently active service configuration.
                This version is serving live traffic and is locked from modification.
              minimum: 1
              example: 3
            locked:
              type: boolean
              description: Whether the active version is locked and cannot be modified
              example: true
            deployed:
              type: boolean
              description: Whether this version is currently deployed to the edge
              example: true
        versions:
          type: integer
          description: |
            Total number of versions created for this service (active and inactive).
            Each version represents a snapshot of the service configuration.
          minimum: 1
          example: 5
        paused:
          type: boolean
          description: |
            Whether the service is currently paused.
            Paused services do not serve traffic but preserve all configurations.
          example: false
      required:
        - id
        - name
        - customer_id
        - type
        - created_at
        - updated_at

    ServiceCreate:
      type: object
      properties:
        name:
          type: string
          description: The name of the service.
          example: My Service
        comment:
          type: string
          description: A freeform descriptive note.
          example: New service
        type:
          type: string
          description: The type of this service.
          enum: [vcl, wasm]
          example: vcl
      required:
        - name
        - type

    ServiceUpdate:
      type: object
      properties:
        name:
          type: string
          description: The name of the service.
          example: Updated Service Name
        comment:
          type: string
          description: A freeform descriptive note.
          example: Updated service

    Domain:
      type: object
      properties:
        id:
          type: string
          description: Alphanumeric string identifying the domain.
          example: 1Z1MqLPfXE1plDLBzF1xin
        service_id:
          type: string
          description: Alphanumeric string identifying the service.
          example: SU1Z0isxPaozGVKXdv0eY
        version:
          type: integer
          description: Integer identifying a service version.
          example: 1
        name:
          type: string
          description: The name of the domain or domains associated with this service.
          example: www.example.com
        comment:
          type: string
          description: A freeform descriptive note.
          example: Domain for website
      required:
        - id
        - service_id
        - version
[...]
